.outer {
  margin: 0 auto;
  max-width: 1024px;
}

.coloured {
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  min-width: 80px;
}

.pan-status {
  position: absolute;
  font-style: italic;
  top: 16px;
  right: 26px;
}

h2 {
  margin-left: 10px;
}

.menu, .edit {
  margin-left: 10px;
}

.mat-mdc-footer-row {
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.12);
  bottom: 0;
  font-weight: bold;
  margin-top: -1px;
  position: sticky;
}

.options {
  align-items: center;
  display: flex;
}

.buttons {
  flex: 1;
}

.mat-column-bin {
  flex: 0 1 120px;
}

.mat-column-product {
  flex: 1 1 250px;
  white-space: nowrap;
}

.mat-column-notes {
  flex: 1 1 125px;
}

.mat-column-transfer {
  flex: 0 0 106px;
}

.load-details {
  flex: 0 1 100%;
}

.loading-spinner {
  display: flex;
  justify-content: center;
}

.mat-mdc-header-cell.mat-column-transfer {
  text-align: center;
}

.mat-mdc-footer-cell.mat-column-transfer .transferTotal {
  margin-left: 7px;
}

.right {
  text-align: right;
}

.details {
  overflow: hidden;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
}

.pan-notes {
  margin-top: 20px;
}

.pan-notes > p {
  margin: 5px 0;
}

@media (max-width: 800px) {
  .mat-mdc-cell {
    min-height: 0;
  }

  .mat-mdc-cell:first-of-type,
  .mat-mdc-header-cell:first-of-type{
    padding-left: 10px;
  }

  .mat-mdc-cell:last-of-type,
  .mat-mdc-header-cell:last-of-type{
    padding-right: 10px;
  }

  .mat-mdc-row {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 20px 20px 160px;
    grid-template-rows: 40px 44px;
    padding: 10px 0 0 0;
  }

  .mat-mdc-cell.mat-column-product {
    grid-column: 1 / 5;
    grid-row: 1;
    justify-content: inherit;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
  }

  .mat-mdc-cell.mat-column-transfer {
    grid-column: 4;
    grid-row: 2;
    justify-content: inherit;
    margin-left: 36px;
  }
}

@media print {
  .inner {
    margin: 0;
  }

  .options {
    display: none;
  }

  .mat-mdc-row {
    display: flex;
    gap: 0;
    padding: 0;
  }

  .mat-mdc-footer-row {
    display: none;
  }

  .mat-mdc-cell.mat-column-transfer {
    margin-left: 0;
  }
}