.dropzone {
  position: relative;
}

.blocker {
  align-items: center;
  border: 4px dashed #ccc;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.blocker > h3 {
  pointer-events: none;
}

.header {
  display: flex;
  align-items: center;
}

.file-select-label {
  margin-left: auto;
}

.file-select {
  display: none;
}

@media print {
  .file-select-label {
    display: none;
  }
}