<div class="outer">
  <div class="options inner">
    <div class="buttons">
      <mat-form-field appearance="outline" class="branch">
        <mat-label>Branch</mat-label>
        <mat-select [formControl]="branchFilter" (selectionChange)="setBranch($event)">
          <mat-option>All</mat-option>
          <mat-option *ngFor="let s of states" value="{{ s }}">{{ s }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <a mat-raised-button [routerLink]="['new']" color="primary" class="add-receipt">Add Receipt</a>
  </div>

  <div *ngIf="(receipts$ | async) as receipts" class="inner">
    <mat-table #table [dataSource]="receipts" [trackBy]="trackByFn">

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let receipt" [routerLink]="[receipt.id]">{{ receipt.fields.Date | date: 'dd/MM/yyy' }}</mat-cell>
        <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="receiptNumber">
        <mat-header-cell *matHeaderCellDef> Reference </mat-header-cell>
        <mat-cell *matCellDef="let receipt" [routerLink]="[receipt.id]">{{ receipt.fields.Title || '-' }}</mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="branch">
        <mat-header-cell *matHeaderCellDef> Branch </mat-header-cell>
        <mat-cell *matCellDef="let receipt">{{ receipt.fields.Branch }}</mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> Net weight </mat-header-cell>
        <mat-cell *matCellDef="let receipt">
          {{ receipt.fields.NetWeight || 0 | number }} kg
        </mat-cell>
        <mat-footer-cell *matFooterCellDef> {{ weight || 0 | number }} kg </mat-footer-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
    </mat-table>
  </div>
</div>

<router-outlet></router-outlet>