<div class="outer">
  <h2>Pallet stocktake history</h2>
  <div class="options inner">
    <div class="buttons">
      <mat-form-field appearance="outline" class="branch">
        <mat-label>Branch</mat-label>
        <mat-select [formControl]="fromFilter" (selectionChange)="setFrom($event)">
          <mat-option>All</mat-option>
          <mat-option *ngFor="let s of states" value="{{ s }}">{{ s }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="status">
        <mat-label>Pallet</mat-label>
        <mat-select [formControl]="toFilter" (selectionChange)="setTo($event)">
          <mat-option>All</mat-option>
          <mat-option *ngFor="let s of pallets" value="{{ s }}">{{ s }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <a mat-raised-button [routerLink]="['.', 'new']" color="primary" class="add-cage">New stocktake</a>
  </div>

  <div *ngIf="(pallets$ | async) as pallets" class="inner">
    <mat-table #table [dataSource]="pallets" [trackBy]="trackByFn">

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let pallet">
          {{ pallet.fields.Created | date: 'dd/MM/yyyy' }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="pallet">
        <mat-header-cell *matHeaderCellDef> Pallet </mat-header-cell>
        <mat-cell *matCellDef="let pallet">
          {{ pallet.fields.Pallet }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="branch">
        <mat-header-cell *matHeaderCellDef> Branch </mat-header-cell>
        <mat-cell *matCellDef="let pallet">
          {{ pallet.fields.Branch }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="surplus">
        <mat-header-cell *matHeaderCellDef> Surplus </mat-header-cell>
        <mat-cell *matCellDef="let pallet">{{ pallet.fields.Quantity }}</mat-cell>
        <mat-footer-cell *matFooterCellDef>{{ total || 0 }}</mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="deficit">
        <mat-header-cell *matHeaderCellDef> Deficit </mat-header-cell>
        <mat-cell *matCellDef="let pallet">{{ pallet.fields.Quantity }}</mat-cell>
        <mat-footer-cell *matFooterCellDef>{{ total || 0 }}</mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
    </mat-table>
  </div>
</div>
  
<router-outlet></router-outlet>