<div class="header">
  <h2 mat-dialog-title>Pick an SDS</h2>
  <div class="syncer">
    @if (loading || saving) {
      <mat-spinner diameter="24"></mat-spinner>
    }
    <button mat-button (click)="syncFromChemwatch()" [disabled]="loading || saving" tabindex="-1">Sync</button>
  </div>
</div>
<mat-dialog-content>
  <p>For: {{ data.chemical.ItemDesc }}</p>
  <mat-form-field appearance="fill" subscriptSizing="dynamic" class="name-filter">
    <mat-label>Search</mat-label>
    <input matInput type="text" autocomplete="off" placeholder="Type to search..." [formControl]="searchControl">
    @if (searchControl.value) {
      <button (click)="clearSearch()" matSuffix mat-icon-button aria-label="Clear" type="button" [disabled]="loading">
        <mat-icon>close</mat-icon>
      </button>
    } @else {
      <button matSuffix mat-icon-button type="button" disabled>
        <mat-icon>search</mat-icon>
      </button>
    }
  </mat-form-field>
  @if (chemicals$ | async; as chemicals) {
    <mat-selection-list [disabled]="loading" [multiple]="false" (selectionChange)="setItem($event)">
      @for (c of chemicals; track c.CwNo) {
        <mat-list-option [value]="c">
          <div>{{ c.Name }}</div>
        </mat-list-option>
      } @empty {
        <mat-list-option [disabled]="true">
          No safety data sheets to show...
        </mat-list-option>
      }
    </mat-selection-list>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <div class="buttons">
    <button type="button" mat-button mat-dialog-close tabindex=-1>Cancel</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="!selected?.CwNo || saving || loading" (click)="linkMaterial()">Save</button>
  </div>
</mat-dialog-actions>