.link {
  align-items: center;
  background: white;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 5px;
  color: inherit;
  display: flex;
  justify-content: center;
  user-select: none;
}

.mat-icon {
  font-size: 30px;
  height: 30px;
  margin-right: 16px;
  margin-left: -16px;
  width: 30px;
}

h2 {
  line-height: 29px;
  text-align: center;
  margin: 40px 0;
}