a {
  background: white;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 5px;
  color: inherit;
  cursor: pointer;
  display: block;
}

h2 {
  line-height: 29px;
  text-align: center;
  margin: 40px 0;
}