.outer {
  margin: 0 auto;
  max-width: 1024px;
}

.opener {
  cursor: pointer;
}

.coloured {
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  min-width: 80px;
}

.mobile {
  display: none;
}

h2 {
  margin-left: 10px;
}

.autosave {
  font-size: 14px;
}

.mat-form-field {
  font-size: 14px;
  margin-right: 10px;
  width: 145px;
}

.search-form {
  width: calc(100% - 10px);
}

.mat-row {
  align-items: stretch;
}

.mat-footer-row {
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.12);
  bottom: 0;
  font-weight: bold;
  margin-top: -1px;
  position: sticky;
}

.options {
  align-items: baseline;
  display: flex;
}

.buttons {
  flex: 1;
}

.alert{
  text-align: center;
}

.mat-column-bin {
  flex: 0 1 120px;
}

.mat-column-product {
  flex: 1 1 250px;
  white-space: nowrap;
}

.mat-column-NSW,
.mat-column-QLD,
.mat-column-SA,
.mat-column-VIC,
.mat-column-WA,
.mat-column-onHand,
.mat-column-allocated,
.mat-column-required,
.mat-column-toFill,
.mat-column-suggested {
  flex: 0 1 100px;
  text-align: right;
}

.understocked {
  color: red;
}

.loadDetails {
  flex: 0 1 100%;
  margin-right: 10px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
}

.mat-header-cell.mat-column-transfer {
  text-align: center;
}

.mat-footer-cell.mat-column-transfer .transferTotal {
  margin-left: 7px;
}

.right {
  text-align: right;
}

.pallet-count {
  width: 50px;
  margin-left: 5px;
}

.mat-column-transfer {
  background: #a5a5a5;
  flex: 0 0 100px;
  padding-left: 24px;
}

.mat-column-notes {
  background: #a5a5a5;
  flex: 0 0 100px;
  padding-left: 24px;
}

.mat-column-menu {
  flex: 0 1 40px;
}

.transfer-input {
  border: 1px solid black;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  padding: 6px;
  width: 100%;
}

.details {
  overflow: hidden;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 800px) {
  .mat-header-cell.mat-column-bin,
  .mat-header-cell.mat-column-product,
  .mat-header-cell.mat-column-transfer,
  .mat-header-cell.mat-column-notes {
    display: none;
  }

  .mat-row, .mat-header-row {
    display: grid;
    gap: 5px;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-template-rows: 51px 44px;
    padding: 10px;
  }

  .mat-header-row {
    grid-template-rows: 38px;
    padding: 10px;
  }

  .mat-row {
    position: relative;
  }

  .mat-cell {
    min-height: 0;
  }

  .mat-cell:first-of-type{
    padding-left: 0;
  }

  .mat-cell.mat-column-product {
    grid-column: 1/3;
    grid-row: 1;
    justify-content: inherit;
  }

  .mat-cell.mat-column-bin {
    display: none;
  }

  .mat-cell.mat-column-VIC,
  .mat-cell.mat-column-NSW,
  .mat-cell.mat-column-QLD,
  .mat-cell.mat-column-SA,
  .mat-cell.mat-column-WA,
  .mat-cell.mat-column-onHand,
  .mat-cell.mat-column-allocated,
  .mat-cell.mat-column-required,
  .mat-cell.mat-column-suggested,
  .mat-cell.mat-column-toFill {
    grid-row: 2;
    justify-content: inherit;
  }


  .mat-footer-cell.mat-column-product {
    display: none;
  }

  .mat-cell.mat-column-available {
    grid-column: 2;
    grid-row: 2;
    justify-content: inherit;
  }

  .mat-cell.mat-column-transfer {
    position: absolute;
    background: none;
    right: 0;
    top: 10px;
    width: 80px;
  }

  .mat-cell.mat-column-notes {
    background: none;
    grid-column: 1/3;
    grid-row: 3;
  }

  .mat-cell.mat-column-quantity {
    grid-row: 2;
  }

  .mat-cell.mat-column-notes {
    grid-column: 1 / 5;
    grid-row: 4;
  }
}