<form [formGroup]="transferForm" (ngSubmit)="submitForm()">
  <div class="options">
    <div class="buttons">
      <ng-container *ngIf="suggestions">
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="branch">
          <mat-label>Branch</mat-label>
          <mat-select [formControl]="branchFilter" (selectionChange)="setBranch($event)">
            <mat-option *ngFor="let s of states" [value]="s">{{ s }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="showSuppliers" subscriptSizing="dynamic" appearance="outline">
          <mat-label>Suppliers</mat-label>
          <mat-select [(ngModel)]="chosenVendors" [ngModelOptions]="{standalone: true}" multiple (selectionChange)="setVendors($event)">
            <mat-option *ngFor="let b of otherVendors" [value]="b.branch">{{ b.branch }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic" appearance="outline">
          <mat-label>Categories</mat-label>
          <mat-select [(ngModel)]="categories" [ngModelOptions]="{standalone: true}" multiple (selectionChange)="setCategories($event)">
            <mat-option *ngFor="let c of categoryOptions" [value]="c.value">{{ c.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <mat-label>Show columns</mat-label>
        <mat-select [(ngModel)]="chosenColumns" [ngModelOptions]="{standalone: true}" multiple (selectionChange)="setColumns($event)">
          <mat-option *ngFor="let s of otherStates" [value]="s">{{ s }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field subscriptSizing="dynamic" appearance="outline">
        <mat-label>Sort by</mat-label>
        <mat-select (selectionChange)="sortForm($event)">
          <mat-option value="ItemNmbr">Item</mat-option>
          <mat-option value="QtyRequired">Required</mat-option>
          <mat-option value="Suggested">Suggested</mat-option>
          <mat-option value="ToFill">To fill</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="autosave && (saving | async) as s" class="autosave">Autosave: {{ s }}</div>
  </div>
  <mat-card appearance="outlined">
    <mat-table #table [dataSource]="lines.controls" [trackBy]="trackByFn" formArrayName="lines">
      <ng-container matColumnDef="bin">
        <mat-header-cell *matHeaderCellDef> Bin </mat-header-cell>
        <mat-cell *matCellDef="let line">
          {{ line.value['bin'] }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="product">
        <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
        <mat-cell *matCellDef="let line" [formGroup]="line" (click)="openDialog(line.value)" class="opener">
          <div class="details">
            <strong class="link">
              {{ line.value['ItemNmbr'] }}
            </strong>
            <div class="description" [title]="line.value['ItemDesc']">
              {{ line.value['ItemDesc'] }}
            </div>
            <div class="description">
              {{ line.value['PackSize'] || '-' }} | {{ line.value['PalletQty'] || '-' }}
            </div>
          </div>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="allocated">
        <mat-header-cell *matHeaderCellDef>
          <div class="load-details right">
            <div>
              Allocated
            </div>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let line">
          <div class="load-details right">
            {{ line.value['QtyAllocated'] | number }}
          </div>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="required">
        <mat-header-cell *matHeaderCellDef>
          <div class="load-details right">
            <div>
              Required
            </div>
            <mat-slide-toggle [(ngModel)]="hideUnrequireds" (change)="toggle('Required', $event)" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let line">
          <div class="load-details right">
            {{ line.value['QtyRequired'] | number }}
          </div>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="QLD">
        <mat-header-cell *matHeaderCellDef>
          <div class="load-details right">
            <div>
              QLD
            </div>
            <mat-slide-toggle [(ngModel)]="hideNoStockQld" (change)="toggle('qld', $event)" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let line">
          <div class="load-details right">
            {{ line.value['OnHandQLD'] | number }}
          </div>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="SA">
        <mat-header-cell *matHeaderCellDef>
          <div class="load-details right">
            <div>
              SA
            </div>
            <mat-slide-toggle [(ngModel)]="hideNoStockSa" (change)="toggle('sa', $event)" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let line">
          <div class="load-details right">
            {{ line.value['OnHandSA'] | number }}
          </div>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="HEA">
        <mat-header-cell *matHeaderCellDef>
          <div class="load-details right">
            <div>
              HEA
            </div>
            <mat-slide-toggle [(ngModel)]="hideNoStockHea" (change)="toggle('hea', $event)" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let line">
          <div class="load-details right">
            {{ line.value['OnHandHEA'] | number }}
          </div>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="VIC">
        <mat-header-cell *matHeaderCellDef>
          <div class="load-details right">
            <div>
              VIC on hand
            </div>
            <mat-slide-toggle [(ngModel)]="hideNoStockVic" (change)="toggle('vic', $event)" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let line">
          <div class="load-details right">
            {{ line.value['OnHandVIC'] | number }}
          </div>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="NSW">
        <mat-header-cell *matHeaderCellDef>
          <div class="load-details right">
            <div>
              NSW
            </div>
            <mat-slide-toggle [(ngModel)]="hideNoStockNsw" (change)="toggle('nsw', $event)" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let line">
          <div class="load-details right">
            {{ line.value['OnHandNSW'] | number }}
          </div>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="WA">
        <mat-header-cell *matHeaderCellDef>
          <div class="load-details right">
            <div>
              WA
            </div>
            <mat-slide-toggle [(ngModel)]="hideNoStockWa" (change)="toggle('wa', $event)" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let line">
          <div class="load-details right">
            {{ line.value['OnHandWA'] | number }}
          </div>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="onHand">
        <mat-header-cell *matHeaderCellDef>
          <div class="load-details right">
            <div>On hand</div>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let line">
          <div class="load-details right" [ngClass]="{ understocked: line.value['UnderStocked'] }">
            {{ line.value['QtyOnHand'] | number }}
          </div>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="toFill">
        <mat-header-cell *matHeaderCellDef>
          <div class="load-details right">
            <div>
              To fill
            </div>
            <mat-slide-toggle [(ngModel)]="hideNoMaxes" (change)="toggle('Tofill', $event)" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let line">
          <div class="load-details right">
            {{ line.value['ToFill'] | number }}
          </div>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="suggested">
        <mat-header-cell *matHeaderCellDef>
          <div class="load-details right">
            <div>
              Suggested
            </div>
            <mat-slide-toggle [(ngModel)]="hideUnsuggesteds" (change)="toggle('Suggested', $event)" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let line">
          <div class="load-details right">
            {{ line.value['Suggested'] | number }}
          </div>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>
        </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="spacer">
        <mat-header-cell *matHeaderCellDef>
        </mat-header-cell>
        <mat-cell *matCellDef="let line">
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>
        </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="transfer">
        <mat-header-cell *matHeaderCellDef>
          <div class="load-details">
            Request 
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let line" [formGroup]="line">
          <input formControlName="ToTransfer" class="transfer-input" type="number" placeholder="0" min="0">
          <div *ngIf="estimatePallets" class="pallet-count">
            <span *ngIf="line.value['Spaces']">({{ line.value['Spaces'] | number: '1.0-1' }})</span>
          </div>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>
          <div class="transferTotal">
            {{ getTotalToTransfer(lines.controls) | number }}
          </div>
          <div class="transferTotal">
            ({{ getTotalPalletCount(lines.controls) | number: '1.0-1' }})
          </div>
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="notes">
        <mat-header-cell *matHeaderCellDef>
          <div class="load-details">
            Notes 
          </div>
        </mat-header-cell>
        <mat-cell *matCellDef="let line" [formGroup]="line">
          <textarea formControlName="Notes" class="transfer-input" type="text"></textarea>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="another">
        <mat-header-cell *matHeaderCellDef class="search-cell">
          <mat-form-field class="search-form" subscriptSizing="dynamic" appearance="fill">
            <mat-label>Add an item...</mat-label>
            <gcp-item-control [formControl]="itemSearch" [territory]="branchFilter.value"></gcp-item-control>
          </mat-form-field>
        </mat-header-cell>
      </ng-container>
      <ng-container matColumnDef="loadingDef">
        <mat-footer-cell *matFooterCellDef>
          <gcp-loading-row></gcp-loading-row>
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="empty">
        <mat-footer-cell *matFooterCellDef>
          Nothing to show here.
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-header-row *matHeaderRowDef="['another']" class="item-adder"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [class.hidden]="
      !row.value.Custom &&
      row.value.ToTransfer <= 0 &&
      (
        (vendorCodes.length > 0 && !vendorCodes.includes(row.value['Vendor'])) ||
        (categories.length > 0 && !categories.includes(row.value['Category'])) ||
        (row.value['OnHandHEA'] <= 0 && hideNoStockHea) ||
        (row.value['OnHandVIC'] <= 0 && hideNoStockVic) ||
        (row.value['OnHandNSW'] <= 0 && hideNoStockNsw) ||
        (row.value['OnHandSA'] <= 0 && hideNoStockSa) ||
        (row.value['OnHandWA'] <= 0 && hideNoStockWa) ||
        (row.value['Suggested'] <= 0 && hideUnsuggesteds) ||
        (!row.value['QtyRequired'] && hideUnrequireds) ||
        (!row.value['ToFill'] && hideNoMaxes)
      )"></mat-row>
      <mat-footer-row *matFooterRowDef="['loadingDef']" [class.hidden]="(loading | async) === false"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['empty']" [class.hidden]="loading || getTotalRequestedLines(lines.controls) || !suggestions"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
    </mat-table>
    <mat-card appearance="raised" *ngIf="showNotes" class="notes">
      <mat-form-field class="search-form" subscriptSizing="dynamic">
        <mat-label>Notes</mat-label>
        <textarea matInput class="main-notes" type="text" [formControl]="notes" autocomplete="off"></textarea>
      </mat-form-field>
    </mat-card>
  </mat-card>
</form>