.outer {
  margin: 0 auto;
  max-width: 800px;
}

h2 {
  margin-left: 10px;
}

textarea {
  height: 50px;
}

.mat-mdc-card {
  margin: 10px;
}

.mat-mdc-form-field {
  width: 100%;
}

.field-container {
  display: flex;
  margin: 0 -8px;
}

.field-container > .mat-mdc-form-field {
  flex: 1;
  min-width: 120px;
  margin: 0 8px;
}

.field-container > .arrow {
  margin: 0 12px;
  padding-top: 18px;
}

.spacer {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin: 30px 10px;
}