.parent {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.outer {
  margin: 0 auto;
  max-width: 1024px;
}

.table-inner {
  margin: 0 10px;
}

h2 {
  margin: 10px 0;
}

.options {
  display: flex;
}

.scroller {
  flex: 1;
  overflow-y: scroll;
}

.doc-header {
  width: 100%;
}

.link {
  cursor: pointer;
}

.spinner {
  margin: 0 auto;
}

.head {
  font-weight: bold;
  position: sticky;
  top: 0;
}

.head-in {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.row {
  align-items: center;
  break-inside: avoid;
  display: flex;
  min-height: 50px;
}

.locations {
  flex: 0 1 554px;
  margin: 8px 0;
}

.location {
  display: flex;
  font-size: 14px;
  margin: 2px 0;
}

.site-name {
  flex: 0 1 90px;
}

.qty-min, .qty-max, .qty-onhand, .qty-avail, .qty-alloc, .qty-required {
  flex: 0 1 80px;
  text-align: right;
}

.item {
  flex: 0 0 250px;
  margin-right: 8px;
  overflow: hidden;
  white-space: nowrap;
}

.item-number {
  font-weight: bold;
}

.item-desc {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.locn {
  display: inline-block;
  width: 36px;
}

.total-required {
  flex: 0 1 100px;
  margin-left: auto;
  text-align: right;
}

@media print {
  .parent {
    display: block;
  }

  .doc-header {
    display: none;
  }

  .scroller {
    overflow-y: auto;
  }
}