.mat-dialog-content {
  height: 65vh;
}

.mat-accordion {
  display: block;
  margin: 10px 0;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  flex: 265px;
}

.actions {
  display: flex;
}

.buttons {
  display: flex;
  align-items: center;
}

.mat-dialog-title {
  flex: 1;
  line-height: 40px;
  margin: 0;
}

.section {
  min-height: 198px;
}

.section-title {
  flex: 1;
  margin: 18px 0px;
}

.note {
  margin: 60px;
  text-align: center;
}

.close-button {
  position: absolute;
  right: 0;
  top: 0;
}

.cage-number {
  font-weight: bold;
  width: 42px;
}