<h2 mat-dialog-title>Chemicals</h2>

<mat-dialog-content>
  @if (chemicals$ | async; as o) {
    @if (!share) {
      <div>
        <div class="header row">
          <div class="item-desc">Item</div>
          <div class="class">Class</div>
          <div class="quantity">Qty</div>
        </div>
        @for (l of o; track l.ItemNmbr) {
          <div class="row">
            <div class="item-desc"><a [href]="getPdfPath(l.ItemNmbr)" target="_blank">{{ l.ItemDesc }}</a></div>
            <div class="class"><span class="mobile-show">Class: </span>{{ l.Dgc }}</div>
            <div class="quantity"><span class="mobile-show">Qty: </span>{{ l.quantity | number }}</div>
          </div>
          @if (!$last) {
            <mat-divider></mat-divider>
          }
        } @empty {
          <div class="note">
            No chemicals
          </div>
        }
      </div>
    }
  }

  @if (loading) {
    <div class="loading">
      <mat-spinner diameter="48" class="spinner"></mat-spinner>
    </div>
  }

  @if (share) {
    <div class="share-page">
      <h1 class="print-head">Outbound Chemical Register</h1>
      <a [href]="url" target="_blank">
        <qr-code [value]="url" size="300" errorCorrectionLevel="M" class="qr-code"></qr-code>
      </a>
      <h2>Delivery run: {{ data.run }}</h2>
    </div>
  }
</mat-dialog-content>
<div class="buttons">
  @if (share) {
    <button mat-icon-button (click)="share = false" type="button" class="close-button" tabindex="-1" ><mat-icon>arrow_back</mat-icon></button>

  } @else {
    <button mat-icon-button (click)="share = true" type="button" class="close-button" tabindex="-1" ><mat-icon>qr_code</mat-icon></button>
  }
  <button mat-icon-button (click)="closeDialog()" type="button" class="close-button" tabindex="-1" ><mat-icon>close</mat-icon></button>
</div>