.header {
  font-weight: bold;
}

.row {
  align-items: center;
  display: flex;
  margin: 5px 0;
}

.notes {
  font-style: italic;
  margin: 5px 0;
}

.date {
  flex: 0 1 130px;
}

.customer {
  flex: 1;
}

.invoice-number {
  flex: 0 1 120px;
}

.quantity {
  flex: 0 0 60px;
  text-align: right;
}

.availability-grid {
  display: grid;
  font-size: 14px;
  grid-template-rows: 28px 28px 28px;
  grid-template-columns: 72px 72px 72px 72px 72px 72px 72px;
  gap: 0px;
  text-align: right;
}

.grid-heading {
  font-weight: bold;
}

.note {
  text-align: center;
}

.limits {
  display: flex;
}

.limit:first-child {
  margin-right: 120px;
}