<h2 mat-dialog-title>Allocations</h2>
<mat-dialog-content>
  <div class="header row">
    <div class="date">Date</div>
    <div class="invoice-number">Doc number</div>
    <div class="customer">Customer</div>
    <div class="quantity">Qty</div>
  </div>
  <div *ngFor="let h of locationHistory | async; last as last">
    <div class="row">
      <div class="date">{{ h.date | date: 'd MMM yyyy' }}</div>
      <div class="invoice-number">{{ h.sopNmbr }}</div>
      <div class="customer">{{ h.customer }}</div>
      <div class="quantity">{{ h.quantity | number }}</div>
    </div>
    <div *ngIf="h.notes" class="notes">
      {{ h.notes }}
    </div>
    <mat-divider *ngIf="!last"></mat-divider>
  </div>
</mat-dialog-content>
