:host {
  background: white;
  bottom: 0;
  display: block;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}

.top-buttons {
  margin: 10px;
}

.content {
  display: block;
  margin: 0 auto;
  max-width: 1024px;
}

.inner {
  margin: 10px 10px;
  position: relative;
}

.mat-footer-row {
  font-weight: bold;
}

.note {
  background: white;
  bottom: 0;
  left: 0;
  padding-top: 40px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 97px;
}

.mat-subheader {
  display: flex;
}

.mat-subheader > span {
  flex: 1;
}