.nav-buttons {
  margin: 10px;
}

.header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.content {
  display: block;
  margin: 0 auto;
  max-width: 1024px;
}

.inner {
  margin: 10px 10px;
  position: relative;
}

.mat-footer-row {
  font-weight: bold;
}

.note {
  background: white;
  bottom: 0;
  left: 0;
  padding-top: 40px;
  padding-bottom: 80px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 97px;
}

.mat-subheader {
  display: flex;
}

.mat-subheader > span {
  flex: 1;
}

.mat-column-updated {
  flex: 0 1 100px;
}

.mat-column-customer {
  flex: 1 1 250px;
}

.mat-column-status {
  flex: 0 1 180px;
}

.mat-column-weight {
  flex: 0 1 80px;
}

.mat-column-nav {
  flex: 0 1 40px;
}

.last-icon {
  order: 9;
}

.active {
  background: #f3f2f1;
  border-left: 2px solid red;
}