<mat-toolbar>
  <button mat-icon-button (click)="goBack()" class="mobile-button">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <ng-container>
    <div class="title">Cage</div>
  </ng-container>
</mat-toolbar>

<gcp-loading-page *ngIf="loading | async"></gcp-loading-page>
<div *ngIf="cage$ | async as cage" class="content">
  <div class="inner">
    <div class="header">
      <div *ngIf="isCage" class="title">
        <h2>{{ cage.fields.AssetTypeClean }} {{ cage.fields.CageNumber }}</h2>
      </div>
      <div *ngIf="!isCage" class="title">
        <h2>{{ cage.fields.AssetType }}</h2>
      </div>
      <gcp-branch-button [cage]="cage" (updated)="getCage()"></gcp-branch-button>
      <gcp-action-button [cage]="cage" (updated)="getCage()"></gcp-action-button>
    </div>
    <mat-card>
      <mat-list>
        <div mat-subheader><span class="subheader">Details</span></div>
        <mat-list-item *ngIf="cage.fields.Status">
          <mat-icon mat-list-icon>timeline</mat-icon>
          <div mat-line>{{ cage.fields.Status }}</div>
          <div mat-line>Status</div>
        </mat-list-item>
        <mat-list-item *ngIf="cage.fields.CustomerNumber">
          <mat-icon mat-list-icon>business</mat-icon>
          <div mat-line>{{ cage.fields.Customer }} 
            <span>({{ cage.fields.CustomerNumber }})</span>
            <span *ngIf="cage.fields.Site">({{ cage.fields.Site }})</span>
          </div>
          <div mat-line>Assigned to</div>
        </mat-list-item>
        <form (ngSubmit)="setCageNotes(cage.id)">
          <mat-list-item>
            <mat-icon mat-list-icon>tag</mat-icon>
            <div *ngIf="editCageNotes" mat-line>
              <input [(ngModel)]="currentCageNotes" [ngModelOptions]="{standalone: true}" type="text" placeholder="Reference number or cage notes">
            </div>
            <div *ngIf="!editCageNotes" mat-line>{{ currentCageNotes }}</div>
            <div mat-line>Reference</div>
            <button mat-icon-button type="button" *ngIf="!editCageNotes" (click)="editCageNotes = true"><mat-icon mat-list-icon class="last-icon">edit</mat-icon></button>
            <ng-container *ngIf="editCageNotes">
              <button mat-icon-button type="button" (click)="cancelEditCageNotes(cage.fields.Notes)"><mat-icon mat-list-icon class="last-icon">close</mat-icon></button>
              <button mat-icon-button type="submit"><mat-icon mat-list-icon class="last-icon">check</mat-icon></button>
            </ng-container>
          </mat-list-item>
        </form>
        <div mat-subheader>Weights</div>
        <gcp-cage-weights [cage]="cage" (updated)="getCage()"></gcp-cage-weights>
      </mat-list>
      <gcp-cage-details [cage]="cage"></gcp-cage-details>
    </mat-card>

  </div>



  <div *ngIf="isCage" class="inner">
    <h3>Cage history</h3>

    <mat-table #table [dataSource]="cageHistory$" >
      <ng-container matColumnDef="updated">
        <mat-header-cell *matHeaderCellDef> Last activity </mat-header-cell>
        <mat-cell *matCellDef="let cage">
          {{ cage.fields.Modified | date: 'dd/MM/yyyy'  }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="customer">
        <mat-header-cell *matHeaderCellDef> Customer </mat-header-cell>
        <mat-cell *matCellDef="let cage">
          {{ cage.fields.Customer || 'Unallocated' }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let cage">
          <div class="chip">{{ cage.fields.Status }}</div>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef> Net weight </mat-header-cell>
        <mat-cell *matCellDef="let cage">
          {{ cage.fields.NetWeight || 0 }} kg
        </mat-cell>
        <mat-footer-cell *matFooterCellDef> {{ totalWeight || 0 }} kg </mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="nav">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let cage">
          <a mat-icon-button [disabled]="cage.fields.id === cageId" [routerLink]="['..', cage.fields.id]" class="pallet-link"><mat-icon>arrow_forward</mat-icon></a>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef>
          <gcp-loading-row></gcp-loading-row>
        </mat-footer-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;let cage" [class.active]="cage.fields.id === cageId"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [class.hidden]="(loadingHistory | async) ? false : true"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
    </mat-table>
  </div>
</div>