input {
  width: calc(100% - 8px);
  max-width: 250px;
}

.nav-buttons {
  margin: 10px;
}

.loading-circ {
  position: absolute;
}

.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.top-title {
  flex: 1;
}

.content {
  display: block;
  margin: 0 auto;
  max-width: 1024px;
}

.mat-mdc-footer-row {
  font-weight: bold;
}

.mat-mdc-subheader {
  display: flex;
}

.mat-mdc-subheader > span {
  flex: 1;
}

.mat-column-updated {
  flex: 0 1 100px;
}

.mat-column-customer {
  flex: 1 1 250px;
}

.mat-column-status {
  flex: 0 1 180px;
}

.mat-column-weight {
  flex: 0 1 80px;
}

.mat-column-nav {
  flex: 0 1 88px;
}

.actions {
  margin-left: auto;
}

.material {
  height: 60px;
  position: absolute;
  right: 16px;
}