<h2 mat-dialog-title>Delivery docket</h2>

<mat-dialog-content>
  @if (order$ | async; as o) {
    <div>
      <div class="customer-details">
        <div class="deets"><strong>Customer: </strong><span class="deets-inner">{{ o.custName }}</span></div>
        <div class="deets"><strong>Order no.: </strong><span class="deets-inner">{{ o.sopNumber }}</span></div>
        <div class="deets"><strong>Req. delivery date: </strong><span class="deets-inner">{{ o.reqShipDate | date: 'd MMM yyyy' }}</span></div>
        @if (o.deliveryStatus) {
          <div class="deets"><strong>Delivery status: </strong><span class="deets-inner">{{ o.deliveryStatus }}</span></div>
          <div class="deets"><strong>On delivery run: </strong><span class="deets-inner">{{ o.deliveryRun || 'Default' }}</span></div>
        }
        <div class="deets"><strong>Address: </strong><div class="deets-inner address">{{ tidyAddress }}</div></div>
        @if (o.note) {
          <div class="deets notes"><div class="notes-inner">{{ o.note }}</div></div>
        }
      </div>
      <mat-divider class="section-divider"></mat-divider>
      <div class="header row">
        <div class="item-number">Item Number</div>
        <div class="item-desc">Item Description</div>
        <div class="quantity">Quantity</div>
      </div>
      @for (l of o.lines; track l.lineNumber) {
        <div class="row">
          <div class="item-number">{{ l.itemNmbr }}</div>
          <div class="item-desc">{{ l.itemDesc }}</div>
          <div class="quantity">
            <span class="mobile-show">Quantity: </span>{{ l.qtyPrInv | number }}
            @if (l.qtyToInv) {
              <span>({{ l.qtyToInv | number }} uninvoiced)</span>
            }
          </div>
        </div>
        @if (!$last) {
          <mat-divider></mat-divider>
        }
      }
      @if (o.lines.length === 0) {
        <div class="note">
          No allocations
        </div>
      }
      <mat-divider class="section-divider"></mat-divider>
      <div class="spaces">
        <div><strong>Approx pallet spaces:</strong> {{ palletSpaces | number: '1.0-2' }}</div>
        <div><strong>Approx net weight:</strong> {{ orderWeight | number: '1.0-2' }}kg</div>
      </div>
      <mat-divider class="section-divider"></mat-divider>
  
      <div class="action-header">
        <strong>Pallets</strong>
        <button mat-stroked-button (click)="openPalletDialog(o.custName, o.custNumber, o.sopNumber, '')">Transfer pallets</button>
      </div>
  
      @if (palletsOwing) {
        <div class="pallets-owing">
          <div class="pallet-type">
            <div> </div>
            <div class="pallet-total"><strong>Out</strong></div>
            <div class="pallet-total"><strong>In</strong></div>
          </div>
          @for (pallet of pallets; track pallet.key) {
            <div class="pallet-type">
              <div><strong>{{pallet.name}}</strong></div>
              <div class="pallet-total">{{ palletsOwing[pallet.name]['outs'] }}</div>
              <div class="pallet-total">{{ palletsOwing[pallet.name]['ins'] }}</div>
            </div>
          }

        </div>
      } @else {
        <div>
          <mat-spinner diameter="48" class="spinner"></mat-spinner>
        </div>
      }
      <mat-divider class="section-divider"></mat-divider>
      <div class="attachments">
        <gcp-docs [folder]="'debtors/'+ o.custNumber" [subfolder]="data.sopNumber"><strong>Attachments</strong></gcp-docs>
      </div>
    </div>
  }
  @if (loading) {
    <div>
      <mat-spinner diameter="48" class="spinner"></mat-spinner>
    </div>
  }
</mat-dialog-content>

<button mat-icon-button (click)="closeDialog()" type="button" class="close-button" tabindex="-1" ><mat-icon>close</mat-icon></button>