.header {
  font-weight: bold;
}

.row {
  align-items: center;
  display: flex;
  margin: 2px 0;
}

.item-number {
  flex: 0 1 130px;
}

.item-desc {
  flex: 1;
}

.quantity {
  flex: 0 0 60px;
  text-align: right;
}

.section-divider {
  margin: 16px 0;
  visibility: hidden;
}

.actions {
  text-align: right;
}

.spinner {
  margin: 0 auto;
}