<mat-toolbar>
  <button mat-icon-button (click)="goBack()" class="mobile-button" type="button">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <ng-container>
    <div class="title">Edit pan list</div>
  </ng-container>
</mat-toolbar>
<div class="outer">
  <div class="inner">
    <h2 class="header">Suggested items</h2>
    <gcp-pan-list [panNote]="notes" [autosave]="true" [showSuppliers]="false" [showNotes]="true" [estimatePallets]="true" [defaultCategories]="['M', 'A', 'H', 'PM']" [defaultColumns]="['VIC', 'allocated', 'required', 'toFill']" [includeUnsent]="true" (note)="updateNote($event)"></gcp-pan-list>  
  </div>
</div>