:host {
  right: 0;
  background: white;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.outer {
  margin: 0 auto;
  max-width: 800px;
}

.inner {
  margin-left: 10px;
  margin-right: 10px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.mat-form-field {
  width: 100%;
}