.outer {
  margin: 0 auto;
  max-width: 800px;
}

h2 {
  margin-left: 10px;
  margin-right: 10px;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.buttons > button {
  margin-left: 10px;
}

.mat-form-field {
  width: 100%;
}