

<div class="outer">
  <div class="top-buttons">
    <a mat-stroked-button (click)="goBack()"><mat-icon>arrow_back</mat-icon>Back to Cages</a>
  </div>
  <h2 mat-dialog-title class="inner">Add a new cage</h2>
  <form (ngSubmit)="addCage()" [formGroup]="cageForm" class="inner">
    <mat-form-field appearance="outline" class="asset-type">
      <mat-label>{{ (choices$ | async)?.AssetType.name }}</mat-label>
      <mat-select formControlName="assetType">
        <mat-option *ngFor="let s of (choices$ | async)?.AssetType.choice.choices" value="{{ s }}">{{ s }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width" *ngIf="cageForm.value.assetType?.startsWith('Cage')">
      <mat-label>Cage number</mat-label>
      <input matInput type="number" formControlName="cageNumber" autocomplete="off" placeholder="The number of the cage">
      <mat-error *ngIf="cageForm.get('cageNumber').hasError('duplicate')">
        Cage number is already assigned
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="branch">
      <mat-label>{{ (choices$ | async)?.Branch.name }}</mat-label>
      <mat-select formControlName="branch">
        <mat-option *ngFor="let s of (choices$ | async)?.Branch.choice.choices" value="{{ s }}">{{ s }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="buttons">
      <button mat-button tabindex=-1 type="button">Cancel</button>
      <button mat-raised-button color="primary" [disabled]="loading">Add cage</button>
    </div>
  </form>
</div>