<mat-toolbar>
  <button mat-icon-button (click)="goBack()" class="mobile-button">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <ng-container>
    <div class="title">Stocktake</div>
  </ng-container>
</mat-toolbar>

<div *ngIf="stocktake$ | async as stocktake" class="outer">
  <mat-card>
    <mat-card-title>Stocktake results</mat-card-title>
    <mat-list>
      <mat-list-item>
        <div mat-line>{{ stocktake.fields.Branch }}</div>
        <div mat-line>Branch</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>{{ stocktake.lastModifiedBy.user.displayName }}</div>
        <div mat-line>Created by</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>{{ stocktake.fields.Pallet }}</div>
        <div mat-line>Pallet</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div mat-line>{{ stocktake.fields.CurrentBalance }}</div>
        <div mat-line>Account balance</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>{{ stocktake.fields.OnSite + stocktake.fields.OffSite + stocktake.fields.ToBeCollected - stocktake.fields.ToBeRepaid + stocktake.fields.InTransitOff - stocktake.fields.InTransitOn }}</div>
        <div mat-line>Adjusted count</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngIf="stocktake.fields.Surplus">
        <div mat-line>{{ stocktake.fields.Surplus }}</div>
        <div mat-line>Surplus (Physical > Invoice)</div>
      </mat-list-item>
      <mat-list-item *ngIf="stocktake.fields.Deficit">
        <div mat-line>{{ stocktake.fields.Deficit }}</div>
        <div mat-line>Deficit (Physical < Invoice)</div>
      </mat-list-item>
    </mat-list>
  </mat-card>
  <mat-card>
    <mat-card-title>Physical stocktake</mat-card-title>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>add</mat-icon>
        <div mat-line>{{ stocktake.fields.OnSite }}</div>
        <div mat-line>On site</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>add</mat-icon>
        <div mat-line>{{ stocktake.fields.OffSite }}</div>
        <div mat-line>Off site</div>
      </mat-list-item>
    </mat-list>
  </mat-card>
  <mat-card>
    <mat-card-title>Pallets elsewhere</mat-card-title>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>add</mat-icon>
        <div mat-line>{{ stocktake.fields.ToBeCollected }}</div>
        <div mat-line>IOUs - pallets to be collected</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>remove</mat-icon>
        <div mat-line>{{ stocktake.fields.ToBeRepaid }}</div>
        <div mat-line>IOUs - pallets to be repaid</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>add</mat-icon>
        <div mat-line>{{ stocktake.fields.InTransitOff }}</div>
        <div mat-line>Pallets in transit - off</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>remove</mat-icon>
        <div mat-line>{{ stocktake.fields.InTransitOn }}</div>
        <div mat-line>Pallets in transit - on</div>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>