@switch (statusId) {
  @case (0) {
    <button mat-raised-button type="button" color="primary" (click)="openCustomerPicker(cages)" [disabled]="loading | async" class="action">Assign to customer</button>
  }
  @case (1) {
    <button mat-raised-button type="button" color="primary" (click)="markWithCustomer(cages)" [disabled]="loading | async" class="action">Deliver to customer</button>
  }
  @case (2) {
    <button mat-raised-button type="button" color="primary" (click)="markAsCollected(cages)" [disabled]="loading | async" class="action">Collect from customer</button>
  }
  @case (3) {
    @if (!areCages && status !== 'Ready for delivery to Polymer' && status !== 'Ready for delivery to local processing') {
      <button mat-raised-button type="button" color="primary" (click)="consolidateMaterial(cages)" [disabled]="loading | async" class="action">Consolidate</button>
    }
    @if (status !== 'Ready for delivery to Polymer') {
      <button mat-raised-button type="button" color="primary" (click)="markWithProcessing(cages)" [disabled]="loading | async" class="action">Send to local processing</button>
    }
    @if (status !== 'Ready for delivery to local processing') {
      <button mat-raised-button type="button" color="primary" (click)="markWithPolymer(cages)" [disabled]="loading | async" class="action">Send to Polymer</button>
    }
  }
  @case (4) {
    <button mat-raised-button type="button" color="primary" (click)="collectFromProcessing(cages)" [disabled]="loading | async" class="action">Return from local processing</button>
  }
  @case (5) {
    <button mat-raised-button type="button" color="primary" (click)="collectFromPolymer(cages)" [disabled]="loading | async" class="action">Return from Polymer</button>
  }
  @case (6) {
    <button mat-raised-button type="button" color="primary" (click)="markAvailable(cages)" [disabled]="loading | async" class="action">Set cage as available</button>
  }
}
@if (cages.length > 0 && !hasComplete) {
  <button mat-icon-button type="button" [matMenuTriggerFor]="menu" class="menu"><mat-icon>more_vert</mat-icon></button>
}
<mat-menu #menu="matMenu" xPosition="before">
  <ng-template matMenuContent>
    <button type="button" mat-menu-item (click)="openEditDialog(cages)" [disabled]="cages.length > 1">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button type="button" mat-menu-item (click)="undo(cages)" [disabled]="statusId === 0">
      <mat-icon>undo</mat-icon>
      <span>Undo</span>
    </button>
    <button type="button" mat-menu-item (click)="reset(cages)" [disabled]="statusId === 0">
      <mat-icon>restart_alt</mat-icon>
      <span>Reset</span>
    </button>
    <button type="button" mat-menu-item (click)="dehire(cages)" [disabled]="statusId !== 0">
      <mat-icon>assignment_return</mat-icon>
      <span>Dehire</span>
    </button>
    @if (statusId === 2) {
      <button type="button" mat-menu-item (click)="readyForCollection(cages)">
        <mat-icon>flag</mat-icon>
        <span>Ready for collection</span>
      </button>
    } @else if (statusId === 3) {
      <button type="button" mat-menu-item [matMenuTriggerFor]="readyMenu">
        <mat-icon>flag</mat-icon>
        <span>Ready for processing</span>
      </button>
    }
    <button type="button" mat-menu-item [matMenuTriggerFor]="branchesMenu">
      <mat-icon>location_city</mat-icon>
      <span>Change branch</span>
    </button>
    <button type="button" mat-menu-item [matMenuTriggerFor]="materialsMenu">
      <mat-icon>recycling</mat-icon>
      <span>Pick material</span>
    </button>
    <button type="button" mat-menu-item [matMenuTriggerFor]="depotMenu" [disabled]="statusId !== 0">
      <mat-icon>local_shipping</mat-icon>
      <span>Transfer to depot</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #materialsMenu="matMenu">
  @for (material of materials; track material.code) {
    <button type="button" mat-menu-item (click)="setMaterial(cages, material)" [disabled]="material.code === cageMaterial" [value]="material.code">{{ material.name }}</button>

  }
</mat-menu>

<mat-menu #branchesMenu="matMenu">
  @for (branch of branches; track branch) {
    <button type="button" mat-menu-item (click)="setBranch(cages, branch)" [disabled]="branch === cageBranch">{{ branch }}</button>

  }
</mat-menu>

<mat-menu #readyMenu="matMenu">
  <button type="button" mat-menu-item (click)="markReadyForPolymer(cages)">Polymer</button>
  <button type="button" mat-menu-item (click)="markReadyForProcessing(cages)">Local</button>
</mat-menu>

<mat-menu #depotMenu="matMenu">
  @for (depot of depots; track depot.id) {
    <button type="button" mat-menu-item (click)="setDepot(cages, depot.fields.Title)">{{ depot.fields.Title }}</button>
  }
  <button type="button" mat-menu-item (click)="openSiteDialog()">
    <mat-icon>add</mat-icon>
    <span>Add/edit depots</span>
  </button>
</mat-menu>