<div class="header">
  <h2 mat-dialog-title>{{ data?.title || 'Pick a customer' }}</h2>
  <div>
    <button mat-stroked-button [matMenuTriggerFor]="listMenu" tabindex="-1" class="type-picker" type="button">
      {{ searchType }}
    </button>
    @if (searchType === 'Customers') {
      <button mat-stroked-button [matMenuTriggerFor]="branchMenu" tabindex="-1" class="branch-picker" type="button">
        {{ branch || 'All branches'}}
      </button>
    }
  </div>
</div>
<form [formGroup]="customerForm" (ngSubmit)="pickCustomer()">
  <mat-dialog-content>
    @if (searchType === 'Customers') {
      <mat-form-field color="primary" appearance="outline">
        <mat-label>Customer</mat-label>
        <gcp-customer-control placeholder="Type to search..." formControlName="customer" [territory]="branch"></gcp-customer-control>
        <mat-icon matSuffix>search</mat-icon>
        @if (customerForm.get('customer')?.hasError('unselected')) {
          <mat-error>
            Select a customer from the list
          </mat-error>
        }
      </mat-form-field>
    } @else if (searchType === 'Vendors') {
      <mat-form-field color="primary" appearance="outline">
        <mat-label>Vendor</mat-label>
        <gcp-vendor-control placeholder="Type to search..." formControlName="vendor"></gcp-vendor-control>
        <mat-icon matSuffix>search</mat-icon>
        @if (customerForm.get('customer')?.hasError('unselected')) {
          <mat-error>
            Select a vendor from the list
          </mat-error>
        }
      </mat-form-field>
    }
    @if (data?.address && !this.customerForm.value.site) {
      <mat-form-field color="primary" appearance="outline">
        <mat-label>Address</mat-label>
        <mat-select formControlName="address">
          @for (a of addresses$ | async; track a.name) {
            <mat-option [value]="a">{{ a.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
    @if (sites$ | async; as sites) {
      @if (sites.length > 0) {
        <mat-form-field color="primary" appearance="outline">
          <mat-label>Site</mat-label>
          <mat-select formControlName="site">
            @for (s of sites; track s.id) {
              <mat-option [value]="s">{{ s.fields.Title }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
    }
    @if (data?.notes) {
      <mat-form-field color="primary" appearance="outline" subscriptSizing="dynamic">
        <mat-label>Notes</mat-label>
        <textarea matInput formControlName="notes" autocomplete="off" placeholder="Optional notes"></textarea>
      </mat-form-field>
    }
    @if (data?.address) {
      <pre>{{ tidyAddress || customerForm.value.customer?.address1_composite }}</pre>

    }
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" mat-button mat-dialog-close tabindex=-1>Cancel</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="loading || loadingAddresses || loadingSites">{{'Ok'}}</button>
  </mat-dialog-actions>
</form>

<mat-menu #listMenu="matMenu" xPosition="before">
  <ng-template matMenuContent>
    @for (st of ['Customers', 'Vendors']; track st) {
      <button mat-menu-item (click)="setSearchType(st)">
        <span>{{ st }}</span>
      </button>
    }
  </ng-template>
</mat-menu>

<mat-menu #branchMenu="matMenu" xPosition="before">
  <ng-template matMenuContent>
    @for (branch of branches; track branch) {
      <button mat-menu-item (click)="setBranch(branch)">
        <span>{{ branch }}</span>
      </button>
    }
  </ng-template>
</mat-menu>