.close-button {
  position: absolute;
  right: 0;
  top: 0;
}

.mat-mdc-form-field {
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.type-picker {
  margin-right: 12px;
}

.branch-picker {
  margin-right: 24px;
}