<div class="header">
  <h2 mat-dialog-title>Pick a customer</h2>
  <button mat-stroked-button [matMenuTriggerFor]="menu" tabindex="-1">
    {{ branch || 'All branches'}}
  </button>
</div>
<form [formGroup]="customerForm" (ngSubmit)="pickCustomer()">
  <mat-form-field color="primary" appearance="outline">
    <mat-label>Customer</mat-label>
    <gcp-customer-control placeholder="Type to search..." formControlName="customer" [territory]="branch"></gcp-customer-control>
    <mat-icon matSuffix>search</mat-icon>
    <mat-error *ngIf="customerForm.get('customer')?.hasError('unselected')">
      Select a customer from the list
    </mat-error>
  </mat-form-field>
  <ng-container *ngIf="sites$ | async as sites">
    <mat-form-field *ngIf="sites.length > 0" color="primary" appearance="outline">
      <mat-label>Site</mat-label>
      <mat-select formControlName="site">
        <mat-option *ngFor="let s of sites" [value]="s">{{ s.fields.Title }}</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
  <mat-form-field *ngIf="data?.notes" color="primary" appearance="outline">
    <mat-label>Notes</mat-label>
    <input matInput formControlName="notes" type="text" autocomplete="off" placeholder="Optional notes">
  </mat-form-field>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close tabindex=-1>Cancel</button>
    <button mat-raised-button color="primary" [disabled]="loading">{{'Ok'}}</button>
  </mat-dialog-actions>
</form>

<button mat-icon-button (click)="closeDialog()" type="button" class="close-button" tabindex="-1" ><mat-icon>close</mat-icon></button>

<mat-menu #menu="matMenu" xPosition="before" >
  <ng-template matMenuContent>
    <button mat-menu-item *ngFor="let branch of branches" (click)="setBranch(branch)">
      <span>{{ branch }}</span>
    </button>
  </ng-template>
</mat-menu>