<div cdkScrollable class="scroller">
  <div class="outer">
    <gcp-letterhead class="print-heading">Local deliveries</gcp-letterhead>
    <h2>Local deliveries</h2>
    <div class="refresher">
      <mat-spinner *ngIf="loading || loadingOrders" diameter="36"></mat-spinner>
    </div>
    <div class="options inner">
      <div class="buttons">
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="run">
          <mat-label>Run</mat-label>
          <mat-select [formControl]="runFilter" (selectionChange)="pickRun($event)">
            <mat-option value="">Default</mat-option>
            <mat-option *ngFor="let s of runs" value="{{ s.fields.Title }}">{{ s.fields.Title }}</mat-option>
            <mat-option (click)="openRunManager()"><mat-icon>add</mat-icon>Add/edit runs</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button type="button" mat-raised-button color="primary" (click)="openCustomerPicker()" [disabled]="loading" class="action">Add delivery</button>
    </div>

    <div *ngIf="showFulfilled" class="inner">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Fulfilled orders
            </mat-panel-title>
            <mat-panel-description>
              Drag these below to add to a run!
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="order-list" *ngIf="orders$ | async as orders">
            <div class="date-picker">
              <span class="date-label">Delivery date:</span>
              <input type="text" [matDatepicker]="picker1" [formControl]="dateFilter" class="date-input">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <button mat-icon-button (click)="prevDay()" type="button" class="prev-day">
                <mat-icon>chevron_left</mat-icon>
              </button>
              <button mat-icon-button (click)="nextDay()" type="button">
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
            <mat-list #orderList="cdkDropList" cdkDropList [cdkDropListConnectedTo]="[deliveryList]" [cdkDropListSortingDisabled]="true">
              <div *ngFor="let section of orders|groupByProperty:'shipMethod';trackBy:trackByGroupsFn">
                <div matSubheader><strong>{{ section.key !== 'undefined' ? section.key : '' }}</strong></div>
                <mat-list-item class="drag-list-item" *ngFor="let order of section.value;trackBy:trackByFn" cdkDrag [cdkDragData]="order">
                  <mat-icon matListItemIcon cdkDragHandle>drag_indicator</mat-icon>
                  <span matListItemTitle>{{ order.custName }}</span>
                  <span matListItemLine>Order: {{ order.sopNumber }}<ng-container *ngIf="order.posted"> | posted</ng-container></span>
                  <span matListItemLine>Spaces: {{ order.palletSpaces | number: '1.1-1' }}</span>
                  <ng-container matListItemMeta>
                    <button mat-icon-button (click)="openReceipt(order.sopNumber)"><mat-icon>receipt</mat-icon></button>
                    <button type="button" [disabled]="loading" mat-icon-button (click)="addOrderDelivery(order, run, undefined).subscribe()" class="icon"><mat-icon>add</mat-icon></button>
                  </ng-container>
                </mat-list-item>
              </div>
            </mat-list>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="run-head">
      <h3>{{runFilter.value || 'Default run'}}</h3>
      <div class="run-head-buttons">
        <button mat-icon-button (click)="locked = !locked" matTooltip="Lock/unlock delivery sorting">
          <mat-icon *ngIf="locked">lock</mat-icon>
          <mat-icon *ngIf="!locked">lock_open</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerData]="{run: runFilter.value}" [matMenuTriggerFor]="runMore" class="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <div class="specs">
        <span>{{listSize | number }} {{ listSize === 1 ? 'order' : 'orders'}}</span>
        <span> | </span>
        <span>{{palletSpaces | number: '1.1-1'}} {{ palletSpaces === 1 ? 'space' : 'spaces'}}</span>
        <span> | </span>
        <span>{{weight | number: '1.1-1'}} kg</span>
      </div>
    </div>

    <div class="inner run-list" #deliveryList="cdkDropList" cdkDropList (cdkDropListDropped)="moveItem($event)" [cdkDropListEnterPredicate]="allowPredicate">
      <mat-accordion *ngIf="deliveries$ | async as drops">
        <mat-expansion-panel *ngFor="let delivery of drops | groupByCustomerAddress;let i = index;trackBy:trackByGroupsFn" class="delivery" cdkDrag [cdkDragData]="delivery" [cdkDragDisabled]="locked">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-panel-title>
                <div [ngClass]="{unlocked: !locked}" cdkDragHandle class="sequence">
                  <mat-icon *ngIf="!locked" class="drag">drag_indicator</mat-icon>
                  {{ i + 1 }}
                </div>
                <div class="customer">
                  {{ delivery.fields.Customer }}
                </div>
              </mat-panel-title>
              <mat-panel-description>
                {{ delivery.fields.City ? delivery.fields.City + ', ' + delivery.fields.PostCode : delivery.fields.Address }}
              </mat-panel-description>
            </mat-panel-title>
            <div class="status">
              <mat-checkbox color="accent" [checked]="delivery.fields.Status === 'Complete'" (click)="markComplete($event, delivery.value, delivery.fields.Status)"></mat-checkbox>
            </div>
            <div class="menu">
              <button mat-icon-button [matMenuTriggerData]="{delivery}" [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()"><mat-icon>more_vert</mat-icon></button>
            </div>
          </mat-expansion-panel-header>
  
          <div>{{ delivery.fields.ContactPerson }}</div>
          <div class="site">{{ delivery.fields.Address || delivery.fields.Site }}</div>

          <div *ngIf="delivery.hasNotes">
            <h3>Notes</h3>
            <p mat-list-item *ngFor="let d of delivery.value" (click)="openReceipt(d.fields.Notes)">
              {{ d.fields.Notes }}
            </p>
          </div>

          <mat-action-list *ngIf="delivery.hasOrderNumbers">
            <button mat-list-item *ngFor="let d of delivery.value" (click)="openReceipt(d.fields.OrderNumber)">
              <mat-icon matListItemIcon>receipt</mat-icon>
              {{ d.fields.OrderNumber }}
              <div matListItemMeta>{{ d.fields.Spaces | number: '1.1-1' }}</div>
            </button>
          </mat-action-list>
          <div class="pallet-spaces">{{ delivery.spaces | number: '1.1-1' }} spaces</div>
          <mat-action-row>
            <a mat-button color="primary" [routerLink]="['/customers', delivery.fields.CustomerNumber]" [queryParams]="{site:delivery.fields.Site}" class="customer-link">Customer</a>
            <button mat-raised-button color="primary" (click)="openPalletDialog(delivery.fields.Customer, delivery.fields.CustomerNumber, delivery.value[0].fields.OrderNumber, delivery.fields.Site)">Pallets</button>
            <button mat-raised-button color="primary" (click)="openRecyclingDialog(delivery.fields.Customer, delivery.fields.CustomerNumber, delivery.fields.Site)">Recycling</button>
            <button *ngIf="delivery.fields.OrderNumber" mat-icon-button ></button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
      <div [class.hidden]="(loadingList$ | async) ? false : true">
        <div>
          <gcp-loading-row></gcp-loading-row>
        </div>
      </div>

      <div [class.hidden]="(loadingList$ | async) === false && !listSize ? false : true">
        <div>
          No deliveries. Add one from the link above.
        </div>
      </div>
    </div>

  </div>
</div>
<mat-menu #runMore="matMenu" xPosition="before">
  <ng-template matMenuContent let-run="run">
    <button mat-menu-item (click)="deleteDeliveriesByRun(run)">
      <mat-icon>delete</mat-icon>Remove all
    </button>
  </ng-template>
</mat-menu>

<mat-menu #menu="matMenu" xPosition="before">
  <ng-template matMenuContent let-delivery="delivery">
    <button mat-menu-item (click)="editDelivery(delivery)" [disabled]="loading">
      <mat-icon>edit</mat-icon>Edit
    </button>
    <button mat-menu-item [matMenuTriggerFor]="runMenu" [matMenuTriggerData]="{delivery}" [disabled]="loading">
      <mat-icon>move_down</mat-icon>Move to run
    </button>
    <button mat-menu-item (click)="deleteDeliveries(delivery.value, delivery.fields.Title)" [disabled]="loading">
      <mat-icon>delete</mat-icon>Remove
    </button>
  </ng-template>
</mat-menu>

<mat-menu #runMenu="matMenu">
  <ng-template matMenuContent let-delivery="delivery">
    <button mat-menu-item *ngIf="runFilter.value" (click)="moveToOtherRun(delivery, '')">Default</button>
    <button mat-menu-item *ngFor="let s of otherRuns" (click)="moveToOtherRun(delivery, s.fields.Title)">{{ s.fields.Title }}</button>
  </ng-template>
</mat-menu>

<router-outlet></router-outlet>