<mat-toolbar>
  <button mat-icon-button (click)="goBack()" class="mobile-button">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <ng-container>
    <div class="title">Pallet transfer</div>
  </ng-container>
</mat-toolbar>

<div class="outer">
  <h2>New interstate pallet transfer</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="palletTransferForm">
    <mat-card>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Transfer date</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Completed by</mat-label>
        <input matInput type="text" formControlName="name" autocomplete="off">
      </mat-form-field>
      <div class="field-container">
        <mat-form-field appearance="fill">
          <mat-label>From</mat-label>
          <mat-select matInput type="text" formControlName="from">
            <mat-option *ngFor="let s of ownState" [value]="s">{{ s }}</mat-option>
            <mat-option value="Transport">External transport company</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-icon class="arrow">arrow_forward</mat-icon>
        <mat-form-field appearance="fill">
          <mat-label>To</mat-label>
          <mat-select matInput type="text" formControlName="to">
            <mat-option *ngFor="let s of targetStates" [value]="s">{{ s }}</mat-option>
            <mat-option *ngIf="!fromTrans" value="Transport">External transport company</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="field-container">
        <mat-form-field appearance="fill">
          <mat-label>Loscam</mat-label>
          <input matInput type="number" formControlName="loscam" autocomplete="off" min="0">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Chep</mat-label>
          <input matInput type="number" formControlName="chep" autocomplete="off" min="0">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Plain</mat-label>
          <input matInput type="number" formControlName="plain" autocomplete="off" min="0">
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Reference no.</mat-label>
        <input matInput type="text" formControlName="reference" autocomplete="off">
      </mat-form-field>
    </mat-card>
    <div class="buttons">
      <button mat-raised-button color="primary" [disabled]="loading">Confirm</button>
    </div>
  </form>
</div>