<form (ngSubmit)="setCageMaterial(cage.id)">
  <mat-list-item>
    <mat-icon matListItemIcon>recycling</mat-icon>
    @if (editCageMaterial) {
      <span matListItemTitle>
        <select [(ngModel)]="cageMaterial" [ngModelOptions]="{standalone: true}" type="text" placeholder="Material">
          <option value="">--</option>
          @for (m of materials; track m.code) {
            <option [value]="m.code">{{ m.code }} ({{ m.name }})</option>
          }
        </select>
      </span>
    } @else {
      <span matListItemTitle>{{ cageMaterial }}</span>
    }
    <span>Material</span>
    <ng-container matListItemMeta>
      @if (editCageMaterial) {
        <button mat-icon-button type="button" (click)="cancelEditCageMaterial()"><mat-icon>close</mat-icon></button>
        <button mat-icon-button type="submit"><mat-icon>check</mat-icon></button>
      } @else {
        @if (canEdit) {
          <button mat-icon-button type="button" (click)="editCageMaterial = true"><mat-icon>edit</mat-icon></button>
        }
      }
    </ng-container>
  </mat-list-item>
</form>