.mat-mdc-dialog-content {
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: center;
}

.customer {
  display: flex;
  margin: 40px 0 20px 0;
}

.date {
  margin: 0 10px;
  margin-top: 32px;
  width: 128px;
}

.addresses {
  margin: 0 10px;
}

.details {
  flex: 1;
  margin-left: 10px;
  overflow: hidden;
}

.address {
  white-space: pre;
}

.cages {
  margin: 0 10px;
  flex: 0 0 128px;
}

.signs {
  height: calc((100% - 10% - 320px) / 2);
  min-height: 50px;
}

.notes {
  height: calc((100% - 80% - 320px));
  min-height: 100px;
}

.sender {
  margin-right: 20px;
}

.signatures {
  bottom: 20px;
  display: flex;
  position: absolute;
}

.underline {
  width: 180px;
  display: inline-block;
  border-bottom: black 1px solid;
}

@media print {
  @page {
    size: portrait;
  }

  .buttons {
    display: none;
  }

  .mat-mdc-dialog-content {
    height: calc(100vh - 158px);
    max-height: none;
    padding: 0;
  }
}