<div class="header">
  <img alt="Company logo" src="assets/logo.png">
  <div>
    <h2>Garden City Plastics</h2>
    <h3>Pallet Management System</h3>
  </div>
</div>
<div class="customer">
  <strong>Deliver to: </strong>
  <div class="details">
    {{ data.customer.name }}
    <div class="address">{{ data.customer.address1_composite }}</div>
  </div>
</div>
<span>
  Number of cages delivered: ___
</span>
<div class="signs">Cage numbers:</div>

<div>Number of cages collected: ___</div>
<div class="signs">Cage numbers:</div>

<div class="signs">
  <div class="sender">Sent by: ________________</div>
  <div>Received by: ________________</div>
</div>