

.header {
  align-items: center;
  display: flex;
  height: 110px;
}

img {
  margin-right: 16px;
  width: 110px;
}

h2, h3 {
  margin: 10px 0;
}

.customer {
  display: flex;
  margin: 40px 0 20px 0;
}

.customer > .details {
  margin-left: 10px;
}

.address {
  white-space: pre;
}

.signs {
  height: 220px;
}

.notes {
  height: 100px
}

.addresses {
  margin-right: 10px;
}

.sender {
  margin-right: 20px;
}

.signatures {
  bottom: 20px;
  display: flex;
  position: absolute;
}

.underline {
  width: 60px;
  display: inline-block;
  border-bottom: black 1px solid;
}

.long {
  width: 180px;
}

.buttons {
  margin-left: auto;
}

@media print {
  @page {
    size: portrait;
  }

  .buttons {
    display: none;
  }
}