:host {
  height: 100%;
}

.mat-dialog-content {
  height: 100%;
  max-height: calc(100vh - 158px);
  overflow: hidden;
}

.header {
  align-items: center;
  display: flex;
  height: 110px;
}

img {
  margin-right: 16px;
  width: 110px;
}

h2, h3 {
  margin: 10px 0;
}

.customer {
  display: flex;
  margin: 40px 0 20px 0;
}

.customer > .details {
  margin-left: 10px;
}

.address {
  white-space: pre;
}

.signs {
  height: calc((100% - 10% - 320px) / 2);
  min-height: 50px;
}

.notes {
  height: calc((100% - 80% - 320px));
  min-height: 50px;
}

.addresses {
  margin-right: 10px;
}

.sender {
  margin-right: 20px;
}

.signatures {
  bottom: 20px;
  display: flex;
  position: absolute;
}

.underline {
  width: 60px;
  display: inline-block;
  border-bottom: black 1px solid;
}

.long {
  width: 180px;
}

.buttons {
  align-items: center;
  align-self: flex-start;
  display: flex;
  margin-left: auto;
}

@media print {
  @page {
    size: portrait;
  }

  .buttons {
    display: none;
  }
}