<div class="header">
  <h2 mat-dialog-title>Pick an SDS</h2>
  <div class="syncer">
    <mat-spinner *ngIf="loading" diameter="24"></mat-spinner>
    <button mat-button (click)="syncFromChemwatch()" [disabled]="loading">Sync</button>
  </div>
</div>
<mat-dialog-content>
  <mat-selection-list [disabled]="loading" [multiple]="false" (selectionChange)="setItem($event)">
    <mat-list-option *ngFor="let c of chemicals$ | async" [value]="c">
      <div>{{ c.Name }}</div>
    </mat-list-option>
  </mat-selection-list>
  <mat-dialog-actions align="end">
    <button type="button" mat-button mat-dialog-close tabindex=-1>Cancel</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="!this.selected?.CwNo || saving" (click)="linkMaterial()">Save</button>
  </mat-dialog-actions>
</mat-dialog-content>
