.name, .number {
  margin: 0;
}

.top-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px 10px 10px 10px;
}

.content {
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

.inner {
  margin: 10px 10px;
}

.region {
  margin-right: 10px;
}

dt {
  font-weight: bold;
}