:host {
  background: white;
  bottom: 0;
  display: block;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}

.top-buttons {
  margin: 10px;
}

.content {
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

.inner {
  margin: 10px 10px;
}

.region {
  margin-right: 10px;
}

dt {
  font-weight: bold;
}