<div class="content">
  <div class="top-buttons">
    <a mat-stroked-button (click)="goBack()"><mat-icon>arrow_back</mat-icon>Back to customers</a>
  </div>
  <div *ngIf="customer$ | async as customer" class="inner">
    <h2>{{ customer.name || 'Unnamed customer' }}</h2>


    <p>{{ customer.accountnumber }}</p>

    <div class="cards">
      <div class="status-card">
        <h3>
          Pallets with customer
        </h3>
        <dl>
          <dt>Loscams</dt>
          <dd>{{ pallets ? pallets.loscams  : '...' }}</dd>
          <dt>Cheps</dt>
          <dd>{{ pallets ? pallets.cheps  : '...' }}</dd>
          <dt>Plains</dt>
          <dd>{{ pallets ? pallets.plains  : '...' }}</dd>
        </dl>
      </div>
      <div class="status-card">
        <h3>
          Cages
        </h3>
        <dl>
          <dt>Weight</dt>
          <dd>{{ cages ? cages.weight +' kg'  : '...' }}</dd>
        </dl>
      </div>
    </div>

    <div>
      <gcp-big-button [target]="[]" (click)="openPalletDialog(customer.accountnumber)">Transfer Pallets</gcp-big-button>
      <gcp-big-button [target]="[]" (click)="openRecyclingDialog(customer)">Manage Recycling</gcp-big-button>

    </div>
  </div>
</div>