<mat-toolbar>
  <button mat-icon-button (click)="goBack()" class="mobile-button">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <ng-container>
    <div class="title">Customer</div>
  </ng-container>
</mat-toolbar>

<gcp-loading-page *ngIf="loading | async"></gcp-loading-page>
<div *ngIf="customer$ | async as customer" class="content">
  <div class="top-buttons">
    <div>
      <h2 class="name">{{ customer.name || 'Unnamed customer' }}</h2>
      <p class="number">{{ customer.accountnumber }}</p>
    </div>
    <button mat-stroked-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{customer: customer}">
      {{ site || 'All sites'}}
    </button>
  </div>
  <div class="inner">
    <div class="cards">
      <div class="status-card">
        <h3>
          Pallets with customer
        </h3>
        <dl>
          <dt>Loscams</dt>
          <dd>{{palletsOwing ? palletsOwing.Loscam : '...'}}</dd>
          <dt>Cheps</dt>
          <dd>{{palletsOwing ? palletsOwing.Chep : '...'}}</dd>
          <dt>Plains</dt>
          <dd>{{palletsOwing ? palletsOwing.Plain : '...'}}</dd>
        </dl>
      </div>
      <div class="status-card">
        <h3>
          Cages
        </h3>
        <dl>
          <dt>Active</dt>
          <dd>{{ cages ? cages.count : '...' }}</dd>
        </dl>
        <dl>
          <dt>All time weight</dt>
          <dd>{{ cages ? cages.weight +' kg'  : '...' }}</dd>
        </dl>
      </div>
    </div>
    <div>
      <gcp-big-button [target]="[]" (click)="openPalletDialog(customer)">Transfer Pallets</gcp-big-button>
      <gcp-big-button [target]="[]" (click)="openRecyclingDialog(customer)">Manage Recycling</gcp-big-button>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu" xPosition="before" >
  <ng-template matMenuContent let-customer="customer">
    <button mat-menu-item (click)="setSite(customer.accountnumber, null)">
      <span>All sites</span>
    </button>
    <button mat-menu-item *ngFor="let site of sites" (click)="setSite(customer.accountnumber, site.fields.Title)">
      <span>{{ site.fields.Title }}</span>
    </button>
    <button mat-menu-item (click)="openSiteDialog(customer)">
      <mat-icon>add</mat-icon>
      <span>Add/edit sites</span>
    </button>
  </ng-template>
</mat-menu>