.name, .number {
  margin: 0;
}

img {
  width: 50px !important;
  height: auto !important;
  margin-top: 24px !important;
}

.top-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px 10px 10px;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0 8px 0;
  min-height: 36px;
}

.pallet-total {
  display: inline-block;
  min-width: 20px;
}

.pallet-summary {
  font-size: 12px;
  font-weight: 500;
}

.section-heading > h3 {
  margin: 0;
}

.details {
  flex: 1;
}

.content {
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

.region {
  margin-right: 10px;
}

.big-buttons {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  margin: 16px 0;
}

.menu {
  margin-left: 10px;
}

.mat-mdc-list {
  padding-top: 0;
}