
<div class="customer-input-container" (focusin)="onFocusIn($event)" (focusout)="onFocusOut($event)">
  <input matInput #customerInput [placeholder]="placeholder" type="search" aria-label="Customer" [formControl]="myControl"
    [matAutocomplete]="auto" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" autocomplete="chrome-off">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addCustomer()" [displayWith]="customerDisplayFn">
    @for (option of filteredOptions | async; track option.custNmbr) {
      <mat-option [value]="option">{{ option.name }} ({{ option.custNmbr }})</mat-option>
    }
  </mat-autocomplete>
</div>