.mat-form-field {
  width: 100%;
}

.mat-button-toggle-group {
  margin-bottom: 29.5px;
}

.mat-button-toggle {
  display: flex;
  flex: 1;
}

img {
  max-width: 100%;
}

.ng-submitted .mat-button-toggle-group.ng-invalid {
  border: red 2px solid;
}

.close-button {
  position: absolute;
  right: 0;
  top: 0;
}