.mat-mdc-form-field {
  width: 100%;
}

.name {
  background: rgb(255 255 255 / 68%);
  border-radius: 4px;
  bottom: 0;
  color: black;
  font-weight: bold;
  left: 0;
  line-height: 20px;
  padding: 4px 6px;
  position: absolute;
}

.pallet-grid {
  border: 1px solid;
  border-radius: 4px;
  display: flex;
  margin-bottom: 22px;
}

.pallet-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  border-right: 1px solid;
}

.pallet-cell {
  flex: 1;
  position: relative;
  border-bottom: 1px solid;
}

.pallet-input {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  padding: 12px 5px;
  width: 100%;
  box-sizing: border-box;
}

.pallet-input:focus-visible {
  outline: 1px solid;
  outline-offset: -1px;
}

.pallet-column:last-child {
  border-right-width: 0;
}

.pallet-cell:last-child {
  border-bottom-width: 0;
}

.pallet-grid img {
  height: 50px;
  object-fit: contain;
  width: 100%;
}

.vertical img {
  height: 100%;
  max-width: 80px;
  margin-left: 5px;
}

.vertical .name {
  background: none;
  color: inherit;
  line-height: 43px;
  padding: 0 5px;
  right: 0;
  text-align: right;
}

.vertical.pallet-grid {
  flex-direction: column;
}

.vertical > .pallet-column {
  border-right-width: 0;
  flex-direction: row;
}

.vertical .pallet-cell {
  border-right: 1px solid;
}

.vertical .pallet-column:last-child > .pallet-cell {
  border-bottom-width: 0;
}

.vertical .pallet-cell:last-child {
  border-bottom-width: 1px;
  border-right-width: 0;
}

.close-button {
  position: absolute;
  right: 0;
  top: 0;
}