.mat-form-field {
  width: 100%;
}

.mat-button-toggle-group {
  margin-bottom: 29.5px;
}

::ng-deep .mat-button-toggle-button {
  height: 100%;
}

.mat-button-toggle {
  flex: 1;
}

::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  padding: 0 0!important;
}

img {
  max-width: 100%;
}

.ng-submitted .mat-button-toggle-group.ng-invalid {
  border: red 2px solid;
}

.close-button {
  position: absolute;
  right: 0;
  top: 0;
}