.header {
  font-weight: bold;
}

.row {
  align-items: center;
  display: flex;
  margin: 5px 0;
}

.link {
  cursor: pointer;
}

.notes {
  font-style: italic;
  margin: 5px 0;
}

.date {
  flex: 0 1 130px;
}

.customer {
  flex: 1;
}

.invoice-number {
  flex: 0 1 120px;
}

.quantity {
  flex: 0 0 60px;
  text-align: right;
}

.availability-grid {
  display: grid;
  font-size: 14px;
  grid-template-rows: 28px 28px 28px;
  grid-template-columns: 140px 72px 72px 72px 72px 72px 72px;
  gap: 0px;
  text-align: right;
}

.stock-changed {
  color: rgb(255, 0, 0);
}

.grid-heading {
  font-weight: bold;
}

.note {
  text-align: center;
}

.limits {
  display: flex;
}

.limit {
  border: 1px solid;
  border-radius: 4px;
  margin-right: 16px;
  padding: 10px;
}

.availability-grid > div {
  padding: 0 10px;
}

.MAIN > .cell-vic,
.QLD > .cell-qld,
.NSW > .cell-nsw,
.SA > .cell-sa,
.WA > .cell-wa,
.HEA > .cell-hea {
  background-color: #9595953b;
}

.cell-top {
  border-radius: 4px 4px 0 0;
}

.cell-bottom {
  border-radius: 0 0 4px 4px;
}

.mat-mdc-progress-spinner {
  margin: 0 auto;
}