<h2 mat-dialog-title>{{ data.item.ItemNmbr }}</h2>
<mat-dialog-content>
  <div>
    {{ data.item.ItemDesc }}
  </div>
  <h3>National quantities</h3>
  @if (stockChanged) {
    <p class="stock-changed">Stock for this item has been updated since you loaded the page.<br>
      The latest values are below.<br>Refresh the page to see the lastest values on the list.</p>
  }
  <div class="availability-grid {{ data.branch }}">
    <div></div>
    <div class="grid-heading cell-top cell-vic">MAIN</div>
    <div class="grid-heading cell-top cell-nsw">NSW</div>
    <div class="grid-heading cell-top cell-qld">QLD</div>
    <div class="grid-heading cell-top cell-sa">SA</div>
    <div class="grid-heading cell-top cell-wa">WA</div>
    <div class="grid-heading cell-top cell-hea">HEA</div>
    <div class="grid-heading">On hand</div>
    <div class="cell-vic">{{ item.OnHandVIC || 0 | number }}</div>
    <div class="cell-nsw">{{ item.OnHandNSW || 0 | number }}</div>
    <div class="cell-qld">{{ item.OnHandQLD || 0 | number }}</div>
    <div class="cell-sa">{{ item.OnHandSA || 0 | number }}</div>
    <div class="cell-wa">{{ item.OnHandWA || 0 | number }}</div>
    <div class="cell-hea">{{ item.OnHandHEA || 0 | number }}</div>
    <div class="grid-heading">Allocated</div>
    <div class="cell-vic">{{ item.AllocVIC || 0 | number }}</div>
    <div class="cell-nsw">{{ item.AllocNSW || 0 | number }}</div>
    <div class="cell-qld">{{ item.AllocQLD || 0 | number }}</div>
    <div class="cell-sa">{{ item.AllocSA || 0 | number }}</div>
    <div class="cell-wa">{{ item.AllocWA || 0 | number }}</div>
    <div class="cell-hea">{{ item.AllocHEA || 0 | number }}</div>
    <div class="grid-heading">Sold per month</div>
    @if (averages | async; as a) {
      <div class="cell-vic cell-bottom">{{ a.MAIN || 0 | number: '1.0-0' }}</div>
      <div class="cell-nsw cell-bottom">{{ a.NSW || 0 | number: '1.0-0' }}</div>
      <div class="cell-qld cell-bottom">{{ a.QLD || 0 | number: '1.0-0' }}</div>
      <div class="cell-sa cell-bottom">{{ a.SA || 0 | number: '1.0-0' }}</div>
      <div class="cell-wa cell-bottom">{{ a.WA || 0 | number: '1.0-0' }}</div>
      <div class="cell-hea cell-bottom">{{ a.HEA || 0 | number: '1.0-0'}}</div>
    } @else {
      <div class="cell-vic cell-bottom">...</div>
      <div class="cell-nsw cell-bottom">...</div>
      <div class="cell-qld cell-bottom">...</div>
      <div class="cell-sa cell-bottom">...</div>
      <div class="cell-wa cell-bottom">...</div>
      <div class="cell-hea cell-bottom">...</div>
    }
  </div>
  @if (data.branch) {
    <h3> {{data.branch }} limits</h3>
    <div class="limits">
      <div class="limit">
        <div>Minimum: {{ data.item.MinOrderQty || 0 | number }}</div>
        <div>Maximum: {{ data.item.MaxOrderQty || 0 | number }}</div>
      </div>
      <div class="limit">
        <div>Order point qty: {{ data.item.OrderPointQty || 0 | number }}</div>
        <div>Order up to lvl: {{ data.item.OrderUpToLvl || 0 | number }}</div>
      </div>
    </div>
  }

  <h3>{{data.branch || 'National'}} allocations</h3>
  <div class="header row">
    <div class="date">Doc date</div>
    <div class="date">Req ship date</div>
    <div class="invoice-number">Doc number</div>
    <div class="customer">Customer</div>
    <div class="quantity">Qty</div>
  </div>
  @if (previousOrders | async; as orders) {
    <div>
      @for (o of orders; track o.sopNmbr) {
        <div>
          <div class="row">
            <div class="date">{{ o.date | date: 'd MMM yyyy' }}</div>
            <div class="date">{{ o.reqShipDate | date: 'd MMM yyyy' }}</div>
            <div class="invoice-number">{{ o.sopNmbr }}</div>
            <div class="customer">{{ o.customer }}</div>
            <div class="quantity">{{ o.quantity | number }}</div>
          </div>
          @if (o.notes) {
            <div class="notes">{{ o.notes }}</div>
          }
          @if (!$last) {
            <mat-divider></mat-divider>
          }
        </div>
      } @empty {
        <div class="note">No allocations</div>
      }
    </div>
  } @else {
    <mat-spinner diameter="24"></mat-spinner>
  }
</mat-dialog-content>