<h2 mat-dialog-title>{{ data.item.ItemNmbr }}</h2>
<mat-dialog-content>
  <div>
    {{ data.item.ItemDesc }}
  </div>
  <h3>National quantities</h3>
  @if (stockChanged) {
    <p class="stock-changed">Stock for this item has been updated since you loaded the page.<br>
      The latest values are below.<br>Refresh the page to see the lastest values on the list.</p>
  }
  <div class="availability-grid {{ branch }}">
    <div></div>
    @for (site of sites; track site.id) {
      <div class="grid-heading cell-top {{ site.class }} link" (click)="getPreviousOrders(site.id)">{{ site.id }}</div>
    }
    <div class="grid-heading">On hand</div>
    @for (site of sites; track site.id) {
      <div class="{{ site.class }}">{{ item[site.onHand] || 0 | number }}</div>
    }
    <div class="grid-heading">Allocated</div>
    @for (site of sites; track site.id) {
      <div class="{{ site.class }}">{{ item[site.alloc] || 0 | number }}</div>
    }
    <div class="grid-heading">Sold per month</div>
    @if (averages | async; as a) {
      @for (site of sites; track site.id) {
        <div class="{{ site.class }} cell-bottom">{{ a[site.id] || 0 | number: '1.0-0' }}</div>
      }
    } @else {
      @for (site of sites; track site.id) {
        <div class="{{ site.class }} cell-bottom">...</div>
      }
    }
  </div>
  @if (branch && this.data.warn) {
    <h3> {{ branch }} limits</h3>
    <div class="limits">
      <div class="limit">
        <div>Minimum: {{ data.item.MinOrderQty || 0 | number }}</div>
        <div>Maximum: {{ data.item.MaxOrderQty || 0 | number }}</div>
      </div>
      <div class="limit">
        <div>Order point qty: {{ data.item.OrderPointQty || 0 | number }}</div>
        <div>Order up to lvl: {{ data.item.OrderUpToLvl || 0 | number }}</div>
      </div>
    </div>
  }

  <h3>{{ branch || 'National'}} allocations</h3>
  <div class="header row">
    <div class="date">Doc date</div>
    <div class="date">Req ship date</div>
    <div class="invoice-number">Doc number</div>
    <div class="customer">Customer</div>
    <div class="quantity">Qty</div>
  </div>
  @if (previousOrders | async; as orders) {
    <div>
      @for (o of orders; track o.sopNmbr) {
        <div>
          <div class="row">
            <div class="date">{{ o.date | date: 'd MMM yyyy' }}</div>
            <div class="date">{{ o.reqShipDate | date: 'd MMM yyyy' }}</div>
            <div class="invoice-number">{{ o.sopNmbr }}</div>
            <div class="customer">{{ o.customer }}</div>
            <div class="quantity">{{ o.quantity | number }}</div>
          </div>
          @if (o.notes) {
            <div class="notes">{{ o.notes }}</div>
          }
          @if (!$last) {
            <mat-divider></mat-divider>
          }
        </div>
      } @empty {
        <div class="note">No allocations</div>
      }
    </div>
  } @else {
    <mat-spinner diameter="24"></mat-spinner>
  }
</mat-dialog-content>