<form (ngSubmit)="createTransfer()" [formGroup]="newTransferForm">
  <div class="outer">
    <div class="inner">
      <h2>Quick transfer</h2>
      <gcp-pan-list [suggestions]="false" [autosave]="false" min="OrderPointQty" max="OrderUpToLvl" (activeLines)="activeLines=$event" (lineCount)="lineCount=$event"></gcp-pan-list>
    </div>
    <div class="inner">
      <mat-form-field subscriptSizing="dynamic" class="notes-form">
        <mat-label>Notes</mat-label>
        <textarea matInput class="main-notes" type="text" formControlName="notes" autocomplete="off"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="buttons mat-app-background">
    Transferring {{ lineCount || 0 }} lines from
    <mat-form-field subscriptSizing="dynamic" class="ml">
      <mat-label>Branch</mat-label>
      <mat-select formControlName="fromState">
        @for (b of allStates; track b) {
          <mat-option [value]="b">{{ b }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <span class="ml">to</span>
    <mat-form-field subscriptSizing="dynamic" class="ml">
      <mat-label>Branch</mat-label>
      <mat-select formControlName="toState">
        @for (b of otherStates; track b) {
          <mat-option [value]="b">{{ b }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="save-button" type="submit" [disabled]="!lineCount || creating">Save to GP</button>
  </div>
</form>