<mat-toolbar>
  <button mat-icon-button (click)="goBack()" class="mobile-button" type="button">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <ng-container>
    <div class="title">{{ itemNumber }}</div>
  </ng-container>
</mat-toolbar>
<div *ngIf="item$ | async as item" class="content">
  <div *ngIf="item.sdsExists" class="actions">
    <button mat-button (click)="unlinkChemical(item)">Unlink</button>
    <button mat-button (click)="openBackpack(item)">Edit</button>
  </div>
  <mat-card *ngIf="item.sdsExists">
    <mat-card-header>
      <mat-card-title>
        SDS details
      </mat-card-title>
    </mat-card-header>
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>{{ item.Name }}</span>
        <span>Name</span>
      </mat-list-item>
    </mat-list>
    <mat-nav-list>
      <a [href]="getPdfPath(item.ItemNmbr)" target="_blank" class="">
        <mat-list-item>
          <img src="assets/pdf.svg" alt="File type icon" matListItemIcon>
          <span matListItemTitle>{{ item.DocNo }}</span>
          <span>PDF</span>
        </mat-list-item>
      </a>
    </mat-nav-list>
  </mat-card>

  <mat-card *ngIf="item.hCodes && item.hCodes.length > 0" class="card">
    <mat-card-header>
      <mat-card-title>
        H codes
      </mat-card-title>
    </mat-card-header>
    <mat-list>
      <mat-list-item *ngFor="let h of item.hCodes">
        <div matListItemTitle>{{ definitions[h] }}</div>
        <div matListItemLine>{{ h }}</div>
      </mat-list-item>
    </mat-list>
  </mat-card>
  <div *ngIf="!item.sdsExists" class="add-sds">
    <button mat-button (click)="openBackpack(item)">Assign an SDS</button>
  </div>
</div>
