<mat-toolbar class="site-toolbar">
  <button mat-icon-button (click)="goBack()" class="mobile-button" type="button">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="title">{{ itemNumber }}</div>
</mat-toolbar>
@if (item$ | async; as item) {
  <div class="content">
    @if (item.sdsExists) {
      <div class="actions">
        <button mat-button (click)="unlinkChemical(item)">Unlink</button>
        <button mat-button (click)="openBackpack(item)">Edit</button>
      </div>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            SDS details
          </mat-card-title>
        </mat-card-header>
        <mat-list>
          <mat-list-item>
            <span matListItemTitle>{{ item.Name }}</span>
            <span>Name</span>
          </mat-list-item>
        </mat-list>
        <mat-nav-list>
          <a [href]="getPdfPath(item.ItemNmbr)" target="_blank" class="">
            <mat-list-item>
              <img src="assets/pdf.svg" alt="File type icon" matListItemIcon>
              <span matListItemTitle>{{ item.DocNo }}</span>
              <span>PDF</span>
            </mat-list-item>
          </a>
        </mat-nav-list>
      </mat-card>
    } @else {
      <div class="add-sds">
        <button mat-button (click)="openBackpack(item)">Assign an SDS</button>
      </div>
    }

    @if (item.hCodes && item.hCodes.length > 0) {
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>
            H codes
          </mat-card-title>
        </mat-card-header>
        <mat-list>
          @for (h of item.hCodes; track h) {
            <mat-list-item>
              <div matListItemTitle>{{ definitions[h] }}</div>
              <div matListItemLine>{{ h }}</div>
            </mat-list-item>
          }
        </mat-list>
      </mat-card>
    }
  </div>
}
