:host {
  display: block;
  height: 100%;
  overflow-y: scroll;
}

.outer {
  margin: 0 auto;
  max-width: 1024px;
}

h2 {
  margin-left: 10px;
}

.mat-form-field {
  font-size: 14px;
  margin-right: 10px;
  width: 145px;
}

.mat-footer-row {
  font-weight: bold;
}

.options {
  align-items: baseline;
  display: flex;
}

.buttons {
  flex: 1;
}

.add-cage {
  margin-left: auto;
}

.inner {
  margin: 10px 10px;
}

.cage-link {
  text-decoration: none;
}

.mat-column-pallet, .mat-column-date, .mat-column-id {
  flex: 0 1 115px;
}

.mat-column-out, .mat-column-in {
    flex: 0 1 80px;
}

@media print {
  .options {
    display: none;
  }
}