<div class="outer">
  <h2>Branch pallet history</h2>
  <div class="options inner">
    <div class="buttons">
      <mat-form-field appearance="outline" class="branch">
        <mat-label>Branch</mat-label>
        <mat-select [formControl]="branchFilter" (selectionChange)="setBranch($event)">
          <mat-option *ngFor="let s of states" value="{{ s }}">{{ s }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="pallet">
        <mat-label>Branch</mat-label>
        <mat-select [formControl]="palletFilter" (selectionChange)="setPallet($event)">
          <mat-option *ngFor="let s of pallets" value="{{ s }}">{{ s }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <a mat-raised-button [routerLink]="['/pallets/transfer', 'new']" color="primary" class="add-cage">New transfer</a>
  </div>

  <div *ngIf="(pallets$ | async) as pallets" class="inner">
    <mat-table #table [dataSource]="pallets" [trackBy]="trackByFn">

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let pallet">
          {{ pallet.fields.Created | date: 'dd/MM/yyyy' }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="from">
        <mat-header-cell *matHeaderCellDef> From </mat-header-cell>
        <mat-cell *matCellDef="let pallet">
          {{ pallet.fields.From }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="to">
        <mat-header-cell *matHeaderCellDef> To </mat-header-cell>
        <mat-cell *matCellDef="let pallet">
          {{ pallet.fields.To }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="pallet">
        <mat-header-cell *matHeaderCellDef> Pallet </mat-header-cell>
        <mat-cell *matCellDef="let pallet">
          {{ pallet.fields.Pallet }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
        <mat-cell *matCellDef="let pallet">{{ pallet.fields.Change }}</mat-cell>
        <mat-footer-cell *matFooterCellDef>{{ total || 0 }}</mat-footer-cell>
      </ng-container> 

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
    </mat-table>
  </div>
</div>
  
<router-outlet></router-outlet>