:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-toolbar {
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-between;
  position: fixed;
  left:0;
  right:0;
  top:0;
}

.mat-sidenav {
  width: 220px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.photo-button {
  border-radius: 50%;
  height: 36px;
  overflow: hidden;
  width: 36px;
}

.photo-button img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}

a.title {
  color: white;
  text-decoration: none;
}

::ng-deep .mat-menu-content{
  padding-bottom: 0!important;
  padding-top: 0!important;
}

.menu-upper {
  display: flex;
  align-items: baseline;
}

.menu-company {
  flex: 1;
  font-size: 14px;
  padding: 0 16px;
}

.print-heading {
  display: none;
}

.mat-drawer-container {
  height: 100%;
  position: static;
}

.mat-drawer-content {
  position: inherit;
}

.mat-nav-list {
  overflow: hidden;
}

.menu-label {
  margin-left: 14px;
}

.active {
  background-color: #f3f2f1;
  border-left: 2px solid red;
}

.mat-list-base .mat-list-item.sub-item {
  height: 32px;
}

.login-card {
  max-width: 400px;
  margin: 0 auto;
}

.logo {
  max-width: 100%;
}

.login-card .mat-button {
  display: block;
  margin: 0 auto;
}

@media (max-width: 600px) {
  :host {
    top: 56px;
  }
}

@media print {
  :host {
    top: 0;
  }

  .mat-toolbar {
    display: none;
  }

  .print-heading {
    display: block;
  }
}