<mat-toolbar>
  <a class="title" [routerLink]="['/']">{{ title }}</a>
  <div class="toolbar-spacer"></div>
  <button *ngIf="!loginDisplay" mat-raised-button (click)="login()">Login</button>
  <button *ngIf="loginDisplay" mat-button [matMenuTriggerFor]="menu"><mat-icon>arrow_drop_down</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item disabled>{{ userName }}</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>
<div class="container">
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  <router-outlet *ngIf="!isIframe"></router-outlet>
</div>