:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-toolbar {
  background-color: #343a40;
  color: white;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-between;
  position: fixed;
  left:0;
  right:0;
  top:0;
}

.container {
  height: 100%;
  overflow-y: auto;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

a.title {
  color: white;
  text-decoration: none;
}

::ng-deep .mat-menu-content{
  padding-bottom: 0!important;
  padding-top: 0!important;
}

.menu-grid {
  display: grid;
}

.logout {
  margin-left: auto;
}

@media (max-width: 600px) {
  :host {
    top: 56px;
  }
}