<ng-container *ngIf="loginDisplay">
  <mat-toolbar>
    <button *ngIf="snav" mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="title" [routerLink]="['/']">Pallet Management System</a>
    <div class="toolbar-spacer"></div>
    <div *ngIf="photo$ | async as photo; else noPic" class="photo-button" mat-button [matMenuTriggerFor]="menu"><img [src]="photo" [alt]="accounts[0].name" alt="Avatar"></div>
    <ng-template #noPic>
      <button *ngIf="loginDisplay" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>arrow_drop_down</mat-icon></button>
    </ng-template>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #snav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
      <mat-nav-list>
        <a mat-list-item routerLink="/customers" routerLinkActive="active"><mat-icon>groups</mat-icon><span class="menu-label">Customers</span></a>
        <a mat-list-item routerLink="/pallets" routerLinkActive="active"><mat-icon>view_list</mat-icon><span class="menu-label">Pallet Manager</span></a>
        <ng-container *ngIf="urlActive('/pallets')">
          <a mat-list-item routerLink="/pallets/history" routerLinkActive="active" class="sub-item"><span class="menu-label">Branch history</span></a>
          <a mat-list-item routerLink="/pallets/transfer" routerLinkActive="active" class="sub-item"><span class="menu-label">Interstate transfers</span></a>
          <a mat-list-item routerLink="/pallets/stocktake" routerLinkActive="active" class="sub-item"><span class="menu-label">Stocktake</span></a>
          <mat-divider></mat-divider>
        </ng-container>
        <a mat-list-item routerLink="/recycling" routerLinkActive="active"><mat-icon>recycling</mat-icon><span class="menu-label">Recycling</span></a>
        <ng-container *ngIf="urlActive('/recycling')">
          <a mat-list-item routerLink="/recycling/cages" routerLinkActive="active" class="sub-item"><span class="menu-label">Cage manager</span></a>
          <a mat-list-item routerLink="/recycling/receipts" routerLinkActive="active" class="sub-item"><span class="menu-label">Polymer receipts</span></a>
          <mat-divider></mat-divider>
        </ng-container>
        <a mat-list-item routerLink="/runs" routerLinkActive="active"><mat-icon>local_shipping</mat-icon><span class="menu-label">Runs</span></a>
        <a mat-list-item routerLink="/loading-schedule" routerLinkActive="active"><mat-icon>departure_board</mat-icon><span class="menu-label">Loading schedule</span></a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <gcp-letterhead class="print-heading"></gcp-letterhead>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-menu #menu="matMenu">
    <div class="menu-upper">
      <div class="menu-company">Garden City Plastics</div>
      <a mat-button routerLink="/logout" class="menu-logout">Logout</a>
    </div>
    <mat-list>
      <mat-list-item class="menu-accounts" *ngFor="let account of accounts">
        <div mat-line>{{ account.name }}</div>
        <div mat-line>{{ account.username }}</div>
      </mat-list-item>
    </mat-list>
  </mat-menu>
</ng-container>

<div *ngIf="!loginDisplay" class="login">
  <mat-card class="login-card">
    <img src="/assets/bannerlogo.png" class="logo" alt="Garden City Plastics logo">
    <p>Welcome to the Garden City Plastics pallet management system.</p>
    <p>Click below to login.</p>
    <button mat-button (click)="login()">Login</button>
  </mat-card>
</div>