:host {
  display: block;
  height: 100%;
  overflow-y: scroll;
}

.outer {
  margin: 0 auto;
  max-width: 1024px;
}

.mat-mdc-footer-row {
  font-weight: bold;
}

.options {
  display: flex;
  margin-top: 20px;
}

.name-filter {
  flex: 1;
}

.region-filter {
  flex: 0 0 160px;
}

.mat-mdc-form-field {
  margin-right: 10px;
}

.mat-mdc-form-field:last-child {
  margin-right: 0;
}

.mat-column-name {
  flex: 1 1 200px;
}

.mat-column-custNmbr {
  flex: 1 1 120px;
}

.mat-mdc-footer-cell {
  font-weight: bold;
}

@media (max-width: 800px) {
  .options {
    flex-direction: column;
  }

  .mat-mdc-form-field {
    flex: auto;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .mat-mdc-form-field:last-child {
    margin-bottom: 0;
  }

  .mat-column-custNmbr {
    display: none;
  }


  .mat-mdc-row {
    display: grid;
    grid-template-columns: 1fr 68px 68px 68px 68px;
    grid-template-rows: 32px 32px;
    min-height: 32px;
  }

  .mat-column-name {
    grid-row: 1;
    grid-column: 1/6;
    white-space: nowrap;
  }

  .customer-link {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .mat-column-loscam {
    grid-column: 2;
    grid-row: 2;
  }

  .mat-column-chep {
    grid-column: 3;
    grid-row: 2;
  }

  .mat-column-gcp {
    grid-column: 4;
    grid-row: 2;
  }

  .mat-column-plain {
    grid-column: 5;
    grid-row: 2;
  }

  .mat-mdc-header-row, .mat-mdc-footer-row {
    display: grid;
    grid-template-columns: 1fr 68px 68px 68px 68px;
  }

  .mat-mdc-header-cell, .mat-mdc-footer-cell {
    grid-row: 1;
  }

  .loading-cell {
    grid-column: 1/6;
  }
}

@media print {
  :host{
    overflow-y: auto;
  }

  .options {
    display: none;
  }
}