:host {
  display: block;
  height: 100%;
  overflow-y: scroll;
}

.outer {
  margin: 0 auto;
  max-width: 1024px;
}

.mat-form-field {
  font-size: 14px;
}

.mat-footer-row {
  font-weight: bold;
}

.options {
  display: flex;
}

.name-filter {
  flex: 1;
}

.inner {
  margin: 10px 10px;
}

.region {
  margin-right: 10px;
}

.mat-column-name {
  flex: 1 1 200px;
}

.mat-column-accountnumber {
  flex: 1 1 120px;
}

.mat-column-new_pallets_loscam, .mat-column-new_pallets_chep, .mat-column-new_pallets_plain {
  flex: 0 1 90px;
  justify-content: center;
}

@media (max-width: 800px) {
  .options {
    flex-direction: column;
  }

  .region {
    margin: 0;
  }
}

@media print {
  :host{
    overflow-y: auto;
  }

  .options {
    display: none;
  }
}