.close-button {
  position: absolute;
  right: 0;
  top: 0;
}

.mat-mdc-list {
  margin-bottom: 16px;
  padding: 0;
}

.mat-mdc-form-field {
  width: 100%;
}

.delete {
  margin: 0 12px;
}

.mat-mdc-list-item-meta {
  pointer-events: auto;
}