<h2 mat-dialog-title>Add a run</h2>
<form (ngSubmit)="runId ? renameRun() : addRun()" [formGroup]="runForm">
  <mat-dialog-content class="mat-typography">
    @if (data.runs; as runs) {
      <h3>Runs</h3>
      <mat-list>
        @for (run of runs; track run.id) {
          <mat-list-item [class.active] = "run.id === runId" class="active">
            <span>{{ run.fields.Title }}</span>
            <ng-container matListItemMeta>
              @if (run.id === runId) {
                <button color="warn" type="button" mat-raised-button class="icon" (click)="deleteRun()" [disabled]="loading" class="delete">Delete run</button>
              }
              <button type="button" mat-icon-button (click)="openEditor(run.id, run.fields.Title, run.fields.Owner)" class="icon"><mat-icon>edit</mat-icon></button>
            </ng-container>
          </mat-list-item>
        } @empty {
          <mat-list-item>
            <span>No additional runs yet</span>
          </mat-list-item>
        }
      </mat-list>
    }
    @if (runId) {
      <h3>Edit run details</h3>
    } @else {
      <h3>Add a run</h3>
    }
    <mat-form-field appearance="outline" class="name">
      <mat-label>Run name (i.e. Deliveries)</mat-label>
      <input matInput type="text" formControlName="run" autocomplete="off" placeholder="Run name (i.e. delivery)">
      @if (runForm.get('run')?.hasError('forbiddenName')) {
        <mat-error>
          A run by this name already exists.
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="name">
      <mat-label>Owner</mat-label>
      <input matInput type="text" formControlName="owner" autocomplete="off" placeholder="First.Last@gardencityplastics.com">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" mat-button mat-dialog-close tabindex=-1>Cancel</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="loading">{{ runId ? 'Save changes' : 'Add run'}}</button>
  </mat-dialog-actions>
</form>

<button mat-icon-button (click)="closeDialog(null)" type="button" class="close-button" tabindex="-1" ><mat-icon>close</mat-icon></button>