<div class="docket docket{{ i }}" *ngFor="let i of [1, 2]">
  <div class="header">
    <img src="assets/logo.png">
    <div>
      <h2>Garden City Plastics</h2>
      <h3>Pallet Management System</h3>
    </div>
  </div>
  <div class="list-container">
    <mat-list *ngIf="transfer?.fields as docket">
      <mat-list-item>
        <div mat-line>{{ docket.Title | titlecase }}</div>
        <div mat-line>Customer</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>{{ docket.Notes || '' }}</div>
        <div mat-line>Reference number</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>{{ docket.Pallet }}</div>
        <div mat-line>Pallet type</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>{{ docket.Out}}</div>
        <div mat-line>{{ docket.Pallet }} pallets delivered</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>{{ quantities ? quantities[docket.Pallet] : '...'}}</div>
        <div mat-line>Total {{ docket.Pallet }} pallets owed</div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="signs">Qty for exchange: ______</div>
  <div class="signs">
    <div class="sender">Sent by: ________________</div>
    <div>Received by: ________________</div>
  </div>
</div>