<div cdkScrollable class="scroller">
  <div class="outer">
    <h2>Loading schedule</h2>
    <div class="options inner">
      <div class="buttons">
        <mat-form-field appearance="outline" class="branch">
          <mat-label>Branch</mat-label>
          <mat-select [formControl]="branchFilter" (selectionChange)="setBranch($event)">
            <mat-option *ngFor="let s of states" value="{{ s }}">{{ s }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <a mat-raised-button color="primary" [disabled]="loading" [routerLink]="['new']" class="action">Add entry</a>
    </div>

    <div *ngIf="loadingSchedule$ | async as loadingSchedule" class="inner">
      <div *ngFor="let s of loadingSchedule | groupBy:groups; let i = index">
        <div *ngIf="s">
          <h3>{{ groups[i] }}</h3>
          <mat-table #table [dataSource]="s" [trackBy]="trackByFn">
  
            <ng-container matColumnDef="loadingDate">
              <mat-header-cell *matHeaderCellDef> Loading </mat-header-cell>
              <mat-cell *matCellDef="let delivery">
                <div>
                  {{ delivery.fields.LoadingDate | date: 'EEEE' }}
                </div>
                <div>
                  {{ delivery.fields.LoadingDate | date: 'd MMM yyyy' }}
                </div>
                <div>
                  {{ delivery.fields.From }}
                </div>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
            </ng-container>
    
            <ng-container matColumnDef="arrivalDate">
              <mat-header-cell *matHeaderCellDef> Arriving </mat-header-cell>
              <mat-cell *matCellDef="let delivery">
                <div>
                  {{ delivery.fields.ArrivalDate | date: 'EEEE' }}
                </div>
                <div>
                  {{ delivery.fields.ArrivalDate | date: 'd MMM yyyy' }}
                </div>
                <div>
                  {{ delivery.fields.To }}
                </div>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
    
            <ng-container matColumnDef="transportCompany">
              <mat-header-cell *matHeaderCellDef> Transport company / driver </mat-header-cell>
              <mat-cell *matCellDef="let delivery"><div>{{ delivery.fields.TransportCompany }}</div><div>{{ delivery.fields.Driver }}</div></mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
    
            <ng-container matColumnDef="spaces">
              <mat-header-cell *matHeaderCellDef> Spaces </mat-header-cell>
              <mat-cell *matCellDef="let delivery">{{ delivery.fields.Spaces }}</mat-cell>
              <mat-footer-cell *matFooterCellDef>{{ totals[groups[i]] }}</mat-footer-cell>
            </ng-container>
    
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
              <mat-cell *matCellDef="let delivery">{{ delivery.fields.Status }}</mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
    
            <ng-container matColumnDef="notes">
              <mat-header-cell *matHeaderCellDef> Notes </mat-header-cell>
              <mat-cell *matCellDef="let delivery">{{ delivery.fields.Notes }}</mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
    
            <ng-container matColumnDef="edit">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let delivery">
                <a mat-icon-button [routerLink]="[delivery.id]"><mat-icon>arrow_forward</mat-icon></a>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
    
            <ng-container matColumnDef="loading">
              <mat-footer-cell *matFooterCellDef>
                <gcp-loading-row></gcp-loading-row>
              </mat-footer-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag></mat-row>
            <mat-footer-row *matFooterRowDef="['loading']" [class.hidden]="(loadingList$ | async) ? false : true"></mat-footer-row>
            <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
          </mat-table>
        </div>
      </div>     
    </div>
  </div>
</div>
<mat-menu #menu="matMenu" xPosition="before">
  <ng-template matMenuContent let-delivery="delivery">
    <button mat-menu-item (click)="deleteEntry(delivery.id)">
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>

<router-outlet></router-outlet>