.outer {
  margin: 0 auto;
  max-width: 1024px;
}

.buttons {
  border-top: 1px solid #7a7a7a96;
  padding: 0 10px;
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
}

.mat-mdc-form-field {
  width: 120px;
}

.to {
  margin-left: 10px;
}

.save-button {
  margin-left: auto;
}

.mat-mdc-form-field {
  margin-left: 10px;
}

@media print {
  .inner {
    margin: 0;
  }

  .buttons {
    display: none;
  }
}