<mat-toolbar>
  <button mat-icon-button (click)="goBack()" class="mobile-button">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <ng-container>
    <div class="title">Pallet transfer</div>
  </ng-container>
</mat-toolbar>

<div class="content" *ngIf="transfer$ | async as transfer; else loadingPage">
  <div class="header">
    <h2>Transfer details</h2>
    <div *ngIf="!transfer.summary.cancelled" class="actions">
      <div *ngIf="(transport || sender) && !transfer.summary.transferred && !transfer.summary.cancelled" class="edit">
        <button mat-raised-button *ngIf="!editQuantity" (click)="editQuantity = true">Edit transfer</button>
        <ng-container *ngIf="editQuantity">
          <button mat-icon-button (click)="cancelEditQuantity(transfer.summary.reference, transfer.summary.loscam, transfer.summary.chep, transfer.summary.plain)" [disabled]="loading"><mat-icon mat-list-icon class="last-icon">close</mat-icon></button>
          <button mat-icon-button (click)="setQuantity(transfer.summary.id, transfer.summary.reference, transfer.summary.loscam, transfer.summary.chep, transfer.summary.plain)" [disabled]="loading"><mat-icon mat-list-icon class="last-icon">check</mat-icon></button>
        </ng-container>
      </div>
      <button *ngIf="(transport || sender) && !transfer.summary.transferred" mat-raised-button class="action" (click)="cancel(transfer.summary.id)" [disabled]="loading || editQuantity">Cancel transfer</button>
      <button *ngIf="(transport || receiver) && !transfer.summary.approved" mat-raised-button class="action" color="primary" (click)="approve(transfer.summary.id)" [disabled]="loading || editQuantity">Approve</button>
      <button *ngIf="(transport || sender) && transfer.summary.approved && !transfer.summary.transferred" mat-raised-button class="action" color="primary" (click)="transferp(transfer.summary.id)" [disabled]="loading || editQuantity">Mark as transferred</button>
    </div>
  </div>
  <mat-card class="inner">
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>tag</mat-icon>
        <div *ngIf="editQuantity" mat-line><input [(ngModel)]="transferReference" [ngModelOptions]="{standalone: true}" type="text"></div>
        <div *ngIf="!editQuantity" mat-line>{{ transfer.summary.reference }}</div>
        <div mat-line>Reference number</div>
      </mat-list-item>
    </mat-list>
    <mat-list class="pallets">
      <mat-list-item>
        <img src="assets/loscam.png" mat-list-icon alt="Loscam pallet">
        <div *ngIf="editQuantity" mat-line><input [(ngModel)]="loscamQuantity" [ngModelOptions]="{standalone: true}" type="number"></div>
        <div *ngIf="!editQuantity" mat-line>{{ loscamQuantity || 0 }}</div>
        <div mat-line>Loscams</div>
      </mat-list-item>
      <mat-list-item>
        <img src="assets/chep.png" mat-list-icon alt="Chep pallet">
        <div *ngIf="editQuantity" mat-line><input [(ngModel)]="chepQuantity" [ngModelOptions]="{standalone: true}" type="number"></div>
        <div *ngIf="!editQuantity" mat-line>{{ chepQuantity || 0 }}</div>
        <div mat-line>Cheps</div>
      </mat-list-item>
      <mat-list-item>
        <img src="assets/pallet.png" mat-list-icon alt="Plain pallet">
        <div *ngIf="editQuantity" mat-line><input [(ngModel)]="plainQuantity" [ngModelOptions]="{standalone: true}" type="number"></div>
        <div *ngIf="!editQuantity" mat-line>{{ plainQuantity || 0 }}</div>
        <div mat-line>Plains</div>
      </mat-list-item>
    </mat-list>
    <div class="status">
      <div class="approved" *ngIf="transfer.summary.approved">
        <mat-icon>verified</mat-icon>
        <span>Approved</span>
      </div>
      <div class="approved" *ngIf="transfer.summary.transferred">
        <mat-icon>verified</mat-icon>
        <span>Transferred</span>
      </div>
      <div *ngIf="!transfer.summary.approved && !transfer.summary.cancelled">
        <span>Pending approval</span>
      </div>
      <div *ngIf="transfer.summary.cancelled">
        <span>Cancelled</span>
      </div>
    </div>

    <div class="side-by-side">
      <mat-list>
        <h3 matSubheader>Transferred from</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>place</mat-icon>
          <div mat-line>{{ transfer.summary.from }}</div>
          <div mat-line>From</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>today</mat-icon>
          <div mat-line>{{ transfer.summary.innitiated | date:'dd/MM/yyyy' }}</div>
          <div mat-line>Requested on</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>person</mat-icon>
          <div mat-line>{{ transfer.summary.initiator.displayName }}</div>
          <div mat-line>Requested by</div>
        </mat-list-item>
      </mat-list>
      <mat-icon class="arrow">arrow_forward</mat-icon>
      <mat-list>
        <h3 matSubheader>Transferred to</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>place</mat-icon>
          <div mat-line>{{ transfer.summary.to }}</div>
          <div mat-line>To</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>event</mat-icon>
          <div mat-line>{{ (transfer.summary.approved | date:'dd/MM/yyyy') || '-' }}</div>
          <div mat-line>Approved on</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>person</mat-icon>
          <div mat-line>{{ transfer.summary.approver?.displayName || '-' }}</div>
          <div mat-line>Approved by</div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card>
  <mat-card class="inner">
    <mat-card-header>
      <mat-card-title>Attachments</mat-card-title>
    </mat-card-header>
    <gcp-doc-upload [id]="transfer.summary.id" folder="transfers" (statusChanged)="markFileAttached(transfer.summary.id, $event)">
    </gcp-doc-upload>
  </mat-card>
</div>

<ng-template #loadingPage>
  <gcp-loading-page></gcp-loading-page>
</ng-template>