.header {
  align-items: center;
  display: flex;
  margin: 0 10px;
}

.header > h2 {
  flex: 1;
}

input {
  max-width: 120px;
}

.content {
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

.edit {
  display: flex;
  justify-content: flex-end;
}

.pallets {
  display: flex;
}

.inner {
  margin: 0 10px;
  margin-bottom: 20px;
  position: relative;
}

.status {
  font-size: 18px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.status > div {
  display: flex;
  line-height: 24px;
}

.approved {
  color: green;
}

.side-by-side {
  display: flex;
}

.arrow {
  align-self: center;
  margin: 0 40px;
}

@media (max-width: 600px) {
  .arrow {
    display: none;
  }

  .side-by-side {
    flex-direction: column;
  }
}
