:host {
  display: block;
  height: 100%;
  overflow-y: auto;
}

.outer {
  margin: 0 auto;
  max-width: 1024px;
}

.mat-form-field {
  font-size: 14px;
  margin-right: 10px;
}

.mat-footer-row {
  font-weight: bold;
}

.inner {
  margin: 10px 10px;
}

.cage-link {
  text-decoration: none;
}

.mat-drawer-container {
  min-height: 100%;
  position: inherit;

}

.mat-drawer-content, .mat-drawer.mat-drawer-side {
  z-index: 0;
}

@media print {
  .options {
    display: none;
  }
}