:host {
  display: block;
  height: 100%;
  overflow-y: scroll;
}

.outer {
  margin: 0 auto;
  max-width: 1024px;
}

.mat-mdc-form-field {
  margin-right: 10px;
  width: 145px;
}

.mat-mdc-footer-row {
  font-weight: bold;
}

.options {
  align-items: baseline;
  display: flex;
  margin-top: 20px;
}

.buttons {
  flex: 1;
}

.status-header {
  display: none;
}

.add-cage {
  margin-left: auto;
}

.multi-action {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.cage-count {
  display: flex;
  align-items: center;
  background: rgba(129, 129, 129, 0.2);
  border-radius: 20px;
  padding-left: 16px;
}

.actions {
  margin-left: auto;
}

.customer {
  color: #979797;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 10px;
  max-width: 100%;
  text-overflow: ellipsis;
}

.hidden {
  width: 0;
}

.mat-column-checked {
  flex: 0 0 80px;
}

.mat-column-fields-CageNumber {
  flex: 0 1 80px;
}

.mat-column-fields-Modified {
  flex: 0 1 120px;
}

.mat-column-assetType {
  flex: 0 1 100px;
}

.mat-column-status {
  flex: 0 1 200px;
}

.mat-column-location {
  flex: 1 1 200px;
}

.mat-column-weight {
  flex: 0 1 100px;
}

.mat-column-check {
  display: none;
}

.mat-mdc-cell.mat-column-status {
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
}

.mat-mdc-cell.mat-column-assetType {
  font-weight: 500;
}

.chip0 {
  background-color: #95f395;
  display: inline-flex;
  padding: 7px 12px;
  border-radius: 16px;
  align-items: center;
  height: 32px;
  box-sizing: border-box;
  font-weight: 500;
}

@media print {
  :host {
    overflow-y: auto;
  }

  .status-header {
    display: block;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 28px;
  }

  .options {
    display: none;
  }
}