<div cdkScrollable class="scroller">
  <div class="outer">
    <gcp-letterhead class="print-heading">Delivered</gcp-letterhead>
    <h2>Delivered</h2>
    <mat-card appearance="outlined" *ngIf="deliveries$ | async as groupedDeliveries" class="inner card-container">
      <mat-table #table [dataSource]="groupedDeliveries" [trackBy]="trackByGroupsFn">
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef> Delivery date </mat-header-cell>
          <mat-cell *matCellDef="let order">
            <span>{{ order.fields.DeliveryDate | date:'dd/MM/yyy' }}</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="run">
          <mat-header-cell *matHeaderCellDef> Run </mat-header-cell>
          <mat-cell *matCellDef="let order">
            <span>{{ order.fields.Title }}</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="order">
          <mat-header-cell *matHeaderCellDef> Order no. </mat-header-cell>
          <mat-cell *matCellDef="let order">
            <a (click)="openReceipt(order.fields.OrderNumber)" routerLink=".">{{ order.fields.OrderNumber }}</a>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="customer">
          <mat-header-cell *matHeaderCellDef> Customer </mat-header-cell>
          <mat-cell *matCellDef="let order">
            <span>{{ order.fields.Customer }}</span>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>    
      </mat-table>
      <div *ngIf="(loadingList$ | async) ? true : false">
        <mat-spinner diameter="36" class="loading-page"></mat-spinner>
      </div>
    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>