<h2 mat-dialog-title>Barcode scanner</h2>
<button  *ngIf="hasPermission !== false" mat-icon-button [matMenuTriggerFor]="appMenu" class="action-button">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-dialog-content>
  <div [hidden]="!hasPermission">
    <zxing-scanner [enable]="enabled" [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"
      [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)" (scanError)="onScanError($event)"
      (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)">
    </zxing-scanner>
  </div>
  <div *ngIf="hasPermission === undefined" class="message">
    <h3>Waiting for permissions.</h3>
    <p>
      If your device does not have cameras, no permissions will be asked.
    </p>
  </div>
  <div *ngIf="hasDevices === false" class="message">
    <h3>No devices were found.</h3>
    <p>
      I believe your device has no media devices attached to.
    </p>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <mat-form-field subscriptSizing="dynamic" class="name-filter">
    <mat-label>Scan data</mat-label>
    <input matInput [formControl]="scannedText" type="text" autocomplete="off" placeholder="" #search>
    <button *ngIf="scannedText.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearResult()" type="button">
      <mat-icon>close</mat-icon>
    </button>
    <button [disabled]="!scannedText.value" matSuffix mat-icon-button type="button" (click)="processCode(scannedText.value)">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-actions>

<mat-menu #appMenu="matMenu">
  <mat-selection-list>
    <mat-list-option (click)="toggleTryHarder()" [selected]="tryHarder">
      Enable Try-harder
    </mat-list-option>
    <mat-list-option (click)="toggleTorch()" [selected]="torchEnabled"
      *ngIf="torchAvailable$ | async">
      Enable Torch
    </mat-list-option>
  </mat-selection-list>
  <button mat-menu-item [matMenuTriggerFor]="cameras">Cameras</button>
</mat-menu>

<mat-menu #cameras="matMenu">
  <button mat-menu-item *ngFor="let device of availableDevices" (click)="setCamera(device.deviceId)">{{device.label}}</button>
</mat-menu>