<div class="item-input-container" (focusin)="onFocusIn($event)" (focusout)="onFocusOut($event)">
  <input matInput #itemInput [placeholder]="placeholder" type="search" aria-label="Item" [formControl]="myControl"
    [matAutocomplete]="auto" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" autocomplete="chrome-off">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addItem()" [displayWith]="itemDisplayFn">
    @if (loading) {
      <mat-option [disabled]="true">Loading</mat-option>
    }
    @for (option of filteredOptions | async; track option.ItemNmbr) {
      <mat-option [value]="option">{{ option.ItemNmbr }}</mat-option>
    }
  </mat-autocomplete>
</div>