.outer {
  margin: 0 auto;
  max-width: 1024px;
}

.section-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

h2 {
  margin-left: 10px;
}

.mat-form-field {
  font-size: 14px;
  margin-right: 10px;
  width: 145px;
}

.mat-footer-row {
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.12);
  bottom: 0;
  font-weight: bold;
  margin-top: -1px;
  position: sticky;
}

.options {
  align-items: baseline;
  display: flex;
}

.buttons {
  flex: 1;
}

.mat-column-date {
  flex: 0 0 100px;
}

.mat-column-product {
  flex: 1 1 250px;
  white-space: nowrap;
}

.mat-column-quantity {
  flex: 0 1 140px;
  font-weight: bold;
  text-align: right;
}

.mat-column-available {
  flex: 0 0 140px;
  text-align: right;
}

.loadDetails {
  flex: 0 1 100%;
  margin-right: 10px;
}

.mat-header-cell.mat-column-transfer {
  text-align: center;
}

.mat-footer-cell.mat-column-transfer .transferTotal {
  margin-left: 7px;
}

.mat-column-transfer {
  background: #a5a5a5;
  flex: 0 0 74px;
  padding-left: 24px;
}

.mat-column-menu {
  flex: 0 1 40px;
}

.transfer-input {
  border: 1px solid black;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  padding: 6px 6px;
  width: 60px;
}

.details {
  overflow: hidden;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 800px) {
  .mat-header-row {
    display: none;
  }

  .mat-cell {
    min-height: 0;
  }

  .mat-cell:first-of-type{
    padding-left: 0;
  }

  .mat-row {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 80px 80px 160px;
    grid-template-rows: 40px 44px;
    padding: 10px 0 0 10px;
  }

  .mat-cell.mat-column-product {
    grid-column: 1 / 5;
    grid-row: 1;
    justify-content: inherit;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
  }

  .mat-footer-cell.mat-column-product {
    display: none;
  }

  .mat-cell.mat-column-date {
    grid-column: 1;
    grid-row: 2;
  }

  .mat-cell.mat-column-available {
    grid-column: 2;
    grid-row: 2;
    justify-content: inherit;
  }

  .mat-cell.mat-column-transfer {
    grid-column: 4;
    grid-row: 2;
    justify-content: inherit;
    margin-left: 36px;
  }

  .mat-cell.mat-column-quantity {
    grid-column: 3;
    grid-row: 2;
  }

  .mat-cell.mat-column-notes {
    grid-column: 1 / 5;
    grid-row: 4;
  }
}

@media print {
  h2, .options {
    display: none;
  }
}