.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

gcp-docs .mat-mdc-card-title {
  padding: 16px 16px 0;
}

.header > h2 {
  flex: 1;
}

.print-header {
  display: none;
}

.actions {
  display: flex;
}

.action {
  margin-left: 10px;
}

.inner {
  margin-top: 0;
}

.selector {
  position:absolute;
  right: 5px;
  top: 5px
}

.status {
  font-size: 18px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.status > div {
  display: flex;
  line-height: 24px;
}

input {
  max-width: 100px;
}

.content {
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

.side-by-side {
  display: flex;
}

.arrow {
  align-self: center;
  margin: 0 40px;
}

@media (max-width: 600px) {
  .arrow {
    display: none;
  }

  .side-by-side {
    flex-direction: column;
  }
}

@media print {
  .print-header {
    display: flex;
    justify-content: space-between;
  }

  .print-details {
    margin: 0 10px;
    margin-top: 16px;
  }

  .header, .attachments, .mat-mdc-card-title {
    display: none;
  }
  
  .mat-mdc-card {
    padding-top: 0;
  }

  .details-card {
    display: none;
  }
}