<mat-toolbar>
  <button mat-icon-button (click)="goBack()" class="mobile-button" type="button">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <ng-container>
    <div class="title">Loading schedule entry</div>
  </ng-container>
</mat-toolbar>

<div class="content" *ngIf="loadingScheduleEntry$ | async as loadingScheduleEntry; else loadingPage">
  <div class="header">
    <h2>Loading schedule entry</h2>
    <div class="actions">
      <div class="edit">
        <a mat-raised-button [routerLink]="['edit']" type="button">Edit entry</a>
      </div>
    </div>
  </div>

  <mat-card class="inner">
    <mat-list>
      <h3 matSubheader>Details</h3>
      <mat-list-item>
        <mat-icon mat-list-icon>business</mat-icon>
        <div mat-line>{{ loadingScheduleEntry.fields.TransportCompany }}</div>
        <div mat-line>Transport company</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>person</mat-icon>
        <div mat-line>{{ loadingScheduleEntry.fields.Driver }}</div>
        <div mat-line>Driver</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>tag</mat-icon>
        <div mat-line>{{ loadingScheduleEntry.fields.Spaces }}</div>
        <div mat-line>Spaces</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>notes</mat-icon>
        <div mat-line>{{ loadingScheduleEntry.fields.Notes }}</div>
        <div mat-line>Notes</div>
      </mat-list-item>
    </mat-list>
    <div class="side-by-side">
      <mat-list>
        <h3 matSubheader>Loading</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>place</mat-icon>
          <div mat-line>{{ loadingScheduleEntry.fields.From }}</div>
          <div mat-line>From</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>today</mat-icon>
          <div mat-line>{{ loadingScheduleEntry.fields.LoadingDate | date:'dd/MM/yyyy' }}</div>
          <div mat-line>Loading on</div>
        </mat-list-item>
      </mat-list>
      <mat-icon class="arrow">arrow_forward</mat-icon>
      <mat-list>
        <h3 matSubheader>Arriving</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>place</mat-icon>
          <div mat-line>{{ loadingScheduleEntry.fields.To }}</div>
          <div mat-line>To</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>event</mat-icon>
          <div mat-line>{{ (loadingScheduleEntry.fields.ArrivalDate | date:'dd/MM/yyyy') || '-' }}</div>
          <div mat-line>Arriving on</div>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="status">
      <div class="approved">
        <span>{{ loadingScheduleEntry.fields.Status }}</span>
      </div>
    </div>
  </mat-card>

  <mat-card class="inner">
    <mat-card-header>
      <mat-card-title>Pan list</mat-card-title>
    </mat-card-header>
    <gcp-pan-list-simple [scheduleId]="loadingScheduleEntry.id" [panLists]="loadingScheduleEntry.fields.PanListsArray" (addPanList)="addPanList(loadingScheduleEntry.id)" (deletePanList)="deletePanList(loadingScheduleEntry.id, $event)"></gcp-pan-list-simple>
  </mat-card>

  <mat-card class="inner">
    <gcp-docs [id]="loadingScheduleEntry.id" folder="loading-schedule">
      <mat-card-header>
        <mat-card-title>Attachments</mat-card-title>
      </mat-card-header>
    </gcp-docs>
  </mat-card>
</div>


<ng-template #loadingPage>
  <gcp-loading-page></gcp-loading-page>
</ng-template>