@use '@angular/material' as mat;

@include mat.core();

// Define a light theme
$light-primary: mat.define-palette(mat.$green-palette, 700);
$light-accent: mat.define-palette(mat.$blue-palette, A400, A100, A400);
$light-theme: mat.define-light-theme((
 color: (
   primary: $light-primary,
   accent: $light-accent
 ),
 typography: mat.define-typography-config(),
 density: 0
));

// Define a dark theme
$dark-primary: mat.define-palette(mat.$green-palette);
$dark-accent: mat.define-palette(mat.$blue-palette, 200, A100, A400);
$dark-theme: mat.define-dark-theme((
 color: (
   primary: $dark-primary,
   accent: $dark-accent
 )
));

@include mat.core-theme($light-theme);
@include mat.autocomplete-theme($light-theme);
@include mat.button-theme($light-theme);
@include mat.button_toggle-theme($light-theme);
@include mat.card-theme($light-theme);
@include mat.checkbox-theme($light-theme);
@include mat.datepicker-theme($light-theme);
@include mat.dialog-theme($light-theme);
@include mat.divider-theme($light-theme);
@include mat.expansion-theme($light-theme);
@include mat.form_field-theme($light-theme);
@include mat.icon-theme($light-theme);
@include mat.icon_button-theme($light-theme);
@include mat.input-theme($light-theme);
@include mat.list-theme($light-theme);
@include mat.menu-theme($light-theme);
@include mat.option-theme($light-theme);
@include mat.progress_spinner-theme($light-theme);
@include mat.select-theme($light-theme);
@include mat.sidenav-theme($light-theme);
@include mat.slide_toggle-theme($light-theme);
@include mat.snack_bar-theme($light-theme);
@include mat.table-theme($light-theme);
@include mat.tabs-theme($light-theme);
@include mat.toolbar-theme($light-theme);
@include mat.tooltip-theme($light-theme);

.dark-theme {
  @include mat.core-color($dark-theme);
  @include mat.autocomplete-color($dark-theme);
  @include mat.button-color($dark-theme);
  @include mat.button_toggle-color($dark-theme);
  @include mat.card-color($dark-theme);
  @include mat.checkbox-color($dark-theme);
  @include mat.datepicker-color($dark-theme);
  @include mat.dialog-color($dark-theme);
  @include mat.divider-color($dark-theme);
  @include mat.expansion-color($dark-theme);
  @include mat.form_field-color($dark-theme);
  @include mat.icon-color($dark-theme);
  @include mat.icon_button-color($dark-theme);
  @include mat.input-color($dark-theme);
  @include mat.list-color($dark-theme);
  @include mat.menu-color($dark-theme);
  @include mat.option-color($dark-theme);
  @include mat.progress_spinner-color($dark-theme);
  @include mat.select-color($dark-theme);
  @include mat.sidenav-color($dark-theme);
  @include mat.slide_toggle-color($dark-theme);
  @include mat.snack_bar-color($dark-theme);
  @include mat.table-color($dark-theme);
  @include mat.tabs-color($dark-theme);
  @include mat.toolbar-color($dark-theme);
  @include mat.tooltip-color($dark-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a, .link {
  text-decoration: none;
  color: mat.get-color-from-palette($light-accent);
}

input {
  pointer-events: auto;
}

.dark-theme a, .dark-theme .link {
  color: mat.get-color-from-palette($dark-accent);
}

.dark-theme .invert {
  filter: invert(1);
}

.mat-mdc-cell:hover a {
  text-decoration: underline;
}

.site-toolbar {
  background-color: #007239!important;
  color: white !important;
}

.dark-theme .site-toolbar {
  background-color: #1b5e20;
}

.mat-mdc-dialog-container {
  position: relative;
}

.home-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 1rem;
  margin: 20px;
}

.app-component {
  bottom: 0;
  left: 0;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 6;
}

.loading:before {
  content: "";
  background: #e3e3e3b8;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.hidden {
  display: none !important;
}

.mat-mdc-cell {
  border-bottom-style: none !important;
}

.mat-mdc-row {
  border-bottom-color: rgba(0, 0, 0, 0.12) !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
}

.dark-theme .mat-mdc-row {
  border-bottom-color:rgba(255, 255, 255, 0.12) !important;
}

.mat-mdc-header-row {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-mdc-button-toggle-label-content {
  height: 100%;
}

.inner {
  margin: 10px;
}

.print-heading {
  display: none;
}

.teams .site-toolbar {
  display: none;
}

.teams gcp-root {
  top: 0;
}

.dark-theme .app-menu {
  color: white;
}

.pallet-input {
  color: black;
}

.dark-theme .pallet-input {
  color: white;
}

.dark-theme .mat-mdc-table,
.dark-theme gcp-big-button > .link {
  border-color: rgba(255, 255, 255, 0.12) !important;
}

.drag-list-item,
.mat-mdc-row,
.note.load,
gcp-big-button > .link {
  background: white !important
  ;
}
.dark-theme .drag-list-item,
.dark-theme .mat-mdc-row,
.dark-theme .note.load,
.dark-theme gcp-big-button > .link {
  background: #424242 !important;
}

.active {
  background-color: rgba(180,180,180,0.4)!important;
  border-left: 2px solid red;
}

.wide-select {
  position: fixed !important;
  width: auto !important;
}

.mat-mdc-tab-labels :last-child.mat-mdc-tab {
  min-width: 0;
  padding: 0;
  color: unset;
  opacity: unset;
}

.order-note {
  color: #b57e00;
}

.dark-theme .order-note {
  color: #ffc644;
}

@media (max-width: 800px) {
  .home-cards {
    margin: 10px;
  }
}

@media print {
  @page {
    size: portrait;
  }

  * {
    border-color: gray !important;
    color: black !important;
  }

  .mat-mdc-dialog-surface {
    border-radius: 0 !important;
  }

  .inner {
    margin: 10px 0;
  }

  .app-component {
    overflow-y: visible;
    position: absolute;
  }

  .mat-drawer-container {
    background: none;
    overflow: visible !important;
  }

  .mat-mdc-card {
    border: none !important;
    box-shadow: none !important;
  }

  .mat-mdc-row {
    border-bottom: none !important;
  }

  .mat-toolbar {
    display: none !important;
  }

  .mat-mdc-row {
    break-inside: avoid;
  }

  .print-dialog > gcp-root {
    display: none;
  }

  .print gcp-customer-list,
  .print gcp-pallet-list,
  .print gcp-recycling-list,
  .print gcp-loading-schedule-list,
  .print gcp-interstate-transfers-active,
  .print gcp-pallet-interstate-transfer-list {
    height: 0;
  }

  .printable {
    max-width: 100%!important;
    min-height: 100vh!important;
    width: 100%!important;
  }
  
  .cdk-overlay-container, .cdk-global-overlay-wrapper {
    position: relative;
    height: auto;
  }

  .mat-mdc-dialog-container {
    border-radius: 0!important;
    box-shadow: none!important;
    overflow-x: hidden!important;
  }

  .mat-mdc-dialog-content {
    padding: 0!important;
  }

  .print-heading {
    display: block;
  }

  .print .print-heading {
    display: none;
  }
}