/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar {
  background-color: #343a40;
  color: white;
}

.mat-dialog-container {
  position: relative;
}

.home-cards {
  width: 400px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .home-cards {
    width: calc(100% - 20px);
    margin: 0 10px;
  }
}