.home-cards {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.home-card {
  width: 400px;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 4px;
  background: white;
}

a {
  margin: 10px 0;
  text-decoration: none;
  color: inherit;
}

h2 {
  text-align: center;
  margin: 40px 0;
}

@media (max-width: 800px) {
  .home-card {
    width: inherit;
  }

  .home-cards {
    align-items: stretch;
  }
}