<div class="container">
  <div class="home-cards">
    @if (roles.all) {
      <gcp-big-button [target]="['customers']" icon="groups">Customers</gcp-big-button>
    }
    @if (roles.all) {
      <gcp-big-button [target]="['pallets']" icon="view_list">Pallet Manager</gcp-big-button>
    }
    @if (roles.all) {
      <gcp-big-button [target]="['recycling']" icon="recycling">Recycling Cages</gcp-big-button>
    }
    @if (roles.all) {
      <gcp-big-button [target]="['transfers']" icon="trolley">Inventory</gcp-big-button>
    }
    @if (roles.all) {
      <gcp-big-button [target]="['loading-schedule']" icon="departure_board">Loading Schedule</gcp-big-button>
    }
    @if (roles.all || roles.runs) {
      <gcp-big-button [target]="['runs']" icon="local_shipping">Run list</gcp-big-button>
    }
    @if (roles.all) {
      <gcp-big-button [target]="['chemicals']" icon="science">Chemicals</gcp-big-button>
    }
  </div>
</div>