<mat-toolbar>
  <button mat-icon-button (click)="goBack()" class="mobile-button">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <ng-container>
    <div class="title">Pallet transfer</div>
  </ng-container>
</mat-toolbar>

<div class="content" *ngIf="transfer$ | async as transfer">
  <div class="header">
    <h2>Transfer details</h2>
    <button *ngIf="!transfer.summary.approved" mat-button mat-raised-button color="primary" (click)="approve()" [disabled]="loading">Approve</button>
  </div>
  <mat-card class="inner">
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>123</mat-icon>
        <div mat-line>{{ transfer.summary.quantity}}</div>
        <div mat-line>Quantity</div>
      </mat-list-item>
      <mat-list-item *ngIf="transfer.summary.pallet">
        <mat-icon mat-list-icon>table_rows</mat-icon>
        <div mat-line>{{ transfer.summary.pallet }}</div>
        <div mat-line>Pallet</div>
      </mat-list-item>
    </mat-list>
    <div class="status">
      <div class="approved" *ngIf="transfer.summary.approved">
        <mat-icon>verified</mat-icon>
        <span>Approved</span>
      </div>
      <div *ngIf="!transfer.summary.approved">
        <span>Pending approval</span>
      </div>
    </div>

    <div class="side-by-side">
      <mat-list>
        <h3 matSubheader>Transferred from</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>place</mat-icon>
          <div mat-line>{{ transfer.summary.from }}</div>
          <div mat-line>From</div>
        </mat-list-item>
        <mat-list-item *ngIf="transfer.summary.approved">
          <mat-icon mat-list-icon>event</mat-icon>
          <div mat-line>{{ transfer.summary.approved | date:'dd/MM/yyyy' }}</div>
          <div mat-line>Approved on</div>
        </mat-list-item>
        <mat-list-item *ngIf="transfer.summary.approver">
          <mat-icon mat-list-icon>person</mat-icon>
          <div mat-line>{{ transfer.summary.approver.displayName }}</div>
          <div mat-line>Approved by</div>
        </mat-list-item>
      </mat-list>
      <mat-icon class="arrow">arrow_forward</mat-icon>
      <mat-list>
        <h3 matSubheader>Transferred to</h3>
        <mat-list-item>
          <mat-icon mat-list-icon>place</mat-icon>
          <div mat-line>{{ transfer.summary.to }}</div>
          <div mat-line>To</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>today</mat-icon>
          <div mat-line>{{ transfer.summary.innitiated | date:'dd/MM/yyyy' }}</div>
          <div mat-line>Requested on</div>
        </mat-list-item>
        <mat-list-item *ngIf="transfer.summary.initiator">
          <mat-icon mat-list-icon>person</mat-icon>
          <div mat-line>{{ transfer.summary.initiator.displayName }}</div>
          <div mat-line>Requested by</div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card>
</div>