:host {
  background: white;
  bottom: 0;
  display: block;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}

.nav-buttons {
  margin: 10px;
}

.header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.content {
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

.inner {
  margin: 10px 10px;
  position: relative;
}

.subheader {
  flex: 1
}

.status {
  display: flex;
  line-height: 24px;
}

.approved {
  color: green;
}

.side-by-side {
  display: flex;
}
