<div class="footer">
  <div class="comments">
    Comments:
  </div>
  <div class="pallet-grid">
    <div></div>
    <div class="column-header">Loscam</div>
    <div class="column-header">Chep</div>
    <div class="column-header">GCP</div>
    <div class="column-header">Plain no return</div>
    <div class="column-header">Spaces</div>
    <div class="column-header">Pick</div>
    <div class="column-header">Check</div>
    <div class="row-header">OUT</div>
    <div class="bordered"></div>
    <div class="bordered"></div>
    <div class="bordered"></div>
    <div class="bordered"></div>
    <div class="bordered"></div>
    <div class="bordered"></div>
    <div class="bordered"></div>
    <div class="row-header">IN</div>
    <div class="bordered"></div>
    <div class="bordered"></div>
    <div class="bordered"></div>
    <div class="bordered"></div>
    <div class="bordered"></div>
    <div class="bordered"></div>
    <div class="bordered"></div>
  </div>
</div>
